[2015-09-30 03:07] elinaru opened #4 "Collect official text for the ballot measures"
1. Determine the 2014 and 2015 SF ballot measures.
2. Gather text from Ballotpedia (http://ballotpedia.org/San_Francisco_City_and_County,_California_ballot_measures)
3. Enter data in [TBA location that feeds into interface]

[2015-09-30 03:08] elinaru opened #5 "Collect official images for candidates"
image size and format TBA

[2015-09-30 03:09] elinaru opened #6 "Prepare candidate bios, campaign websites, and twitter accounts"
From League of Women Voters' site?

[2015-09-30 03:10] elinaru opened #7 "Write "About Us" for CCL site"
2014 Oakland OD About Us: http://www.opendisclosure.io/about

[2015-09-30 03:11] elinaru opened #8 "Content for FAQ page"
A good start: http://www.opendisclosure.io/faq#

[2015-09-30 03:27] elinaru commented on #7
Actually, using our Knight Foundation grant proposal text might be closer: https://www.newschallenge.org/challenge/elections/entries/open-disclosure-california-connecting-people-to-their-local-campaign-finance-data

[2015-09-30 03:31] elinaru opened #9 "Top-level navigation for desktop and mobile"

[2015-09-30 03:32] bayreporta commented on #4
How much text do we need? Do we need just official summaries or also the pros/cons?

[2015-09-30 03:36] elinaru opened #10 "Find district by street address widget"
This would be to allow users to determine their city district and the candidates for that district using their address. This would be done via the search.

[2015-09-30 03:40] elinaru commented on #10
This site does this: http://members-of-congress.insidegov.com/l/12258/Robert-J-Dold

[2015-09-30 03:47] elinaru opened #11 "Social media buttons on ballot and candidate pages"
We should have these.

[2015-09-30 05:21] adborden commented on #10
Could we use zipcode instead of street address? I believe @chellrocks is working on mapping the zipcodes to the [CSAs](https://en.wikipedia.org/wiki/Combined_Statistical_Area) which is our measure for metropolitan areas.

The street address part just adds an extra step, which I'd like to simplify for now.

[2015-09-30 05:23] adborden commented on #7
This is what I had used for another page. Might be useful as a starting point, and I think was based on the proposal.

[2015-09-30 07:43] EngineerEmily commented on #11
Clarifying question: Do you mean the candidate's social media buttons on the page (i.e. social links for Joe Smoe for Mayor) or social media sharing buttons (i.e. share this on facebook/twitter)?

[2015-09-30 17:15] elinaru commented on #11
Hey - no, I meant sharing buttons for users to post to their respective social media accounts. Sorry for being unclear.  :)

[2015-09-30 18:50] bayreporta commented on #5
Kent Graham - Mayoral Candidate

![kent_graham](https://cloud.githubusercontent.com/assets/2280866/10203193/687b3412-6769-11e5-8b66-8d0794654806.png)

[2015-09-30 18:51] bayreporta commented on #5
Francisco Herrara - Mayoral Candidate

![francisco_herrera](https://cloud.githubusercontent.com/assets/2280866/10203217/890d73c0-6769-11e5-927e-35edf6056a36.jpg)

[2015-09-30 18:52] bayreporta commented on #5
Ed Lee - Mayoral Candidate

![mayor_ed_lee_closeup](https://cloud.githubusercontent.com/assets/2280866/10203242/ae6fbf4c-6769-11e5-9eb9-c071c54c6ea8.jpg)

[2015-09-30 18:52] bayreporta commented on #5
Reed Martin - Mayoral Candidate

![reed_martin](https://cloud.githubusercontent.com/assets/2280866/10203255/c1c00e12-6769-11e5-9cde-6c9e9b5b5e71.png)

[2015-09-30 18:53] bayreporta commented on #5
Stuart Schuffman - Mayoral Candidate

![stuart_schuffman](https://cloud.githubusercontent.com/assets/2280866/10203277/d4c28f3a-6769-11e5-98c6-a2a7aed69e48.jpg)

[2015-09-30 18:54] bayreporta commented on #5
Amy Farah Weiss - Mayoral Candidate

![amy_farah_weiss](https://cloud.githubusercontent.com/assets/2280866/10203312/035699ae-676a-11e5-9da4-de9e1d7f67c8.jpg)

[2015-09-30 18:56] bayreporta commented on #5
Aaron Peskin - D3 Supe

![aaron_peskin](https://cloud.githubusercontent.com/assets/2280866/10203345/38e46646-676a-11e5-9b59-06f073775a82.jpg)

[2015-09-30 18:56] bayreporta commented on #5
Julie Christensen - D3 Supe

![julie_christensen](https://cloud.githubusercontent.com/assets/2280866/10203361/50cd633e-676a-11e5-9b2a-2d1980eb1015.gif)

[2015-09-30 18:59] bayreporta commented on #5
Wilma Pang - D3 Supe (Photo from SF Examiner)

![pang_0916](https://cloud.githubusercontent.com/assets/2280866/10203423/b369e512-676a-11e5-9f9d-b5bf38f1cd27.jpg)

[2015-09-30 19:00] bayreporta commented on #4
Proposition A

To finance the construction, development, acquisition, and preservation of housing affordable to low- and middle-income households through programs that will prioritize vulnerable populations such as San Francisco’s working families, veterans, seniors, disabled persons; to assist in the acquisition, rehabilitation, and preservation of affordable rental apartment buildings to prevent

[2015-09-30 19:05] bayreporta commented on #4
Prop B

Shall the City amend the Charter to allow parents who are both City employees to each take the maximum amount of paid parental leave for which they qualify for the birth, adoption or foster parenting of the same child, if both parents are City employees; and to provide each parent the opportunity to keep up to 40 hours of sick leave at the end of paid parental leave?

[2015-09-30 19:06] bayreporta commented on #4
Prop C

Shall the City regulate expenditure lobbyists by requiring them to register with the Ethics Commission, pay a $500 registration fee, and file monthly disclosures regarding their lobbying activities?

[2015-09-30 19:06] bayreporta commented on #4
Prop D

Shall the City increase the height limit for 10 of the 28 acres of the Mission Rock site from one story to height limits ranging from 40 to 240 feet and make it City policy to encourage the development on the Mission Rock site provided that it includes eight acres of parks and open space and housing of which at least 33% is affordable for low- and middle-income households?

[2015-09-30 19:06] bayreporta commented on #4
Prop E

Shall the City broadcast all City meetings live on the Internet; allow members of the public to submit electronically during the meeting live, written, video, or audio comments from any location and require those comments be played; require pre-recorded video testimony to be played during a meeting; and allow the public or board, commission, or committee members to request that discussion

[2015-09-30 19:07] bayreporta commented on #4
Prop F

Shall the City limit short-term rentals of a housing unit to 75 days per year regardless of whether the rental is hosted or unhosted; require owners to provide proof that they authorize the unit as a short-term rental; require residents who offer short-term rentals to submit quarterly reports on the number of days they live in the unit and the number of days the unit is rented; prohibit sh

[2015-09-30 19:07] bayreporta commented on #4
Prop G

Shall the City define ‘renewable, greenhouse-gas free electricity’ to mean electricity derived exclusively from certain renewable resources located within or adjacent to the California border or electricity derived from Hetch Hetchy, except for electricity from other types of resources such as rooftop solar and other large hydroelectric facilities; require CleanPowerSF to inform customers

[2015-09-30 19:07] bayreporta commented on #4
Prop H

Shall the City use the State definition of ‘eligible renewable energy resources’ when referring to terms such as ‘clean energy,’ ‘green energy,’ and ‘renewable Greenhouse Gas-free Energy’; and shall CleanPowerSF be urged to inform customers and potential customers of the planned percentage of types of renewable energy to be supplied in each communication; and shall it be City policy for Cl

[2015-09-30 19:08] bayreporta commented on #4
Prop I

Shall the City suspend the issuance of permits on certain types of housing and business development projects in the Mission District for at least 18 months; and develop a Neighborhood Stabilization Plan for the Mission District by January 31, 2017?

[2015-09-30 19:08] bayreporta commented on #4
Prop J

Shall the City establish a Legacy Business Historic Preservation Fund, which would give grants to Legacy Businesses and to building owners who lease space to those businesses for terms of at least 10 years; and expand the definition of a Legacy Business to include those that have operated in San Francisco for more than 20 years, are at risk of displacement and meet the other requirements o

[2015-09-30 19:08] bayreporta commented on #4
Prop K

Shall the City to expand the allowable uses of surplus property to include building affordable housing for a range of households from those who are homeless or those with very low income to those with incomes up to 120% of the area median income; and, for projects of more than 200 units, make some housing available for households earning up to 150% or more of the area median income?

[2015-09-30 19:09] bayreporta commented on #4
Without knowing how much detail is going into these pages, I just grabbed the ballot questions: most straightforward description of the measure.

[2015-09-30 19:10] bayreporta commented on #6
I'd recommend Ballotpedia. Much more detail there than Smart Voter

[2015-09-30 21:36] elinaru commented on #5
Thanks, John. Once we determine the max size we'll need one the site, I'll resize, crop, and compress these images.

That photo of Wilma Pang isn't the most flattering. It's not recent, but maybe we should use her last official campaigning photo?

![2740782](https://cloud.githubusercontent.com/assets/6467815/10207351/960fc458-6780-11e5-8769-23ff3b23d699.jpg)

[2015-09-30 21:37] bayreporta commented on #5
Sounds like a plan

[2015-09-30 21:47] elinaru commented on #4
Maybe the ballot questions are enough. Thanks John --

[2015-09-30 23:43] elinaru commented on #10
Zipcodes and district areas don't overlap, so users can't use zipcode alone to determine their district. Hence the need for search via street address.

[2015-10-01 02:58] adborden opened #13 "jscs check should fail the tests"
jscs check should fail the tests:

[code]

[2015-10-01 03:47] evanwolf commented on #4
The pros and cons are interesting because of who writes them, signs them. A clue about the moneyed interests at work, and whether they have power or not.

[2015-10-01 17:08] evanwolf commented on #7
potential elements of the _About Us_ page:
- We're a coalition of volunteers. (the blurb)
- About Open Data, Transparency, and Better Government
- Our first project: OpenDisclosure
-- links and screenshot
-- purpose
-- roadmap
-- a very brief history
- Member organizations. (list of CACLabs brigades, and delegates)
- Team members we'd like to thank (list of credited volunteers)
- N ways to help yo

[2015-10-01 17:44] evanwolf commented on #8
https://github.com/caciviclab/disclosure-frontend-alpha/blob/master/faq.md

[2015-10-01 17:45] evanwolf commented on #8
Perhaps a separate "Glossary" page?

[2015-10-01 23:13] elinaru commented on #7
I think we should separate this out into two tickets: an "About Us" page for the CCL site and an "About This Project" page for the ODCA.

[2015-10-01 23:14] elinaru opened #16 "Write "About This Project" page for ODCA"

[2015-10-01 23:14] elinaru commented on #7
Opened https://github.com/caciviclab/disclosure-frontend-alpha/issues/16

[2015-10-02 02:49] adborden commented on #8
I vote no glossary. IMHO, there is another (separate) CA Civic Lab project which I would call "The California Campaign Finance Wiki" which could house the glossary and other information about how campaign finance works in California. And [this](https://github.com/caciviclab/caciviclab.github.io/wiki/Campaign-Finance) is the beginning of that (and it has a [glossary](https://github.com/caciviclab/c

[2015-10-02 02:50] adborden commented on #7
+1 to keeping the pages distinct.

[2015-10-02 19:21] elinaru commented on #8
So, you're advocating for the FAQ to be at the CCL level and include  the glossary?

[2015-10-02 19:32] tdooner commented on #8
I never liked the FAQ page on Open Disclosure. I've seen it allow us to use sloppy design elsewhere -- because the FAQ is a a junk drawer that we can fill with all the technical nitty gritty we decide we can omit a description from the page containing a term. Who reads FAQ's anyway? If somebody is expected to read the FAQ to understand why numbers don't add up, or what a term means, then we have f

[2015-10-04 20:27] adborden commented on #10
How about we start with zipcodes, if it's we have a match, done, otherwise we can show the list of districts which are potential matches. We can add street address later.

[2015-10-04 20:29] adborden commented on #10
From @chellrocks:

So about 80% of zipcodes are 99% contained in a single MSA.

[2015-10-04 20:48] adborden commented on #10
As I read up on PSAs, MSAs, and CSAs, I realize I might be answering the wrong question, so the above might not apply.

Here's a question: Why do we want to identify a person's district? Is it to show them their ballot (the candidates running for office on which the person is voting)?

FWIW, I couldn't figure out what feature of the members-of-congress site you were referring to. I didn't see a fe

[2015-10-05 01:55] adborden commented on #5
FYI adding django models so that you'll be able to enter these  right from disclosure.caciviclab.org.. I'll keep you posted.

[2015-10-05 01:55] adborden commented on #4
FYI adding django models so that you'll be able to enter these right from disclosure.caciviclab.org.. I'll keep you posted.

[2015-10-05 06:13] adborden commented on #4
You can add ballot information here http://disclosure.caciviclab.org/admin/ballot/ ping in slack for access.

[2015-10-05 06:15] adborden commented on #6
You can upload this information here http://disclosure.caciviclab.org/admin/ballot/candidate/ ping me for access.

[2015-10-05 17:25] bayreporta commented on #6
@adborden ping

[2015-10-05 20:57] chellrocks commented on #10
Just checked.  We can get county and congressional district from zip for
all sf and Oakland and for 90+ % of California.  From county we can get
MSA/CSA/PSA.   We can get most of the way there with just 5 digit Zipcodes.

On Sun, Oct 4, 2015 at 1:48 PM, Aaron Borden <notifications@github.com>
wrote:

[2015-10-05 21:24] spjika commented on #10
Check out the new APIs from Mapzen- their Map Source product- free API
access to their geocoder services- may work in conjunction with the Census
API fo raddress to Census geography.

Spike
openoakland.org
www.stealingbeautyphotography.com

On Mon, Oct 5, 2015 at 1:57 PM, Phebe Polk <notifications@github.com> wrote:

[2015-10-06 04:17] adborden commented on #10
On Mon, 2015-10-05 at 13:57 -0700, Phebe Polk <notifications@github.com> wrote:

Awesome, thanks Phebe. And then for the next question, is PSA equivalent
to a voter district/precinct? Or is there a way to get that from PSA?

--
Aaron Borden
Human and Hacker

[2015-10-07 03:07] sseiter opened #17 "Analyze Journalist Survey Data and Send Report"
Analyze the data from the journalist survey:
https://docs.google.com/spreadsheets/d/1mv29HFCCHZMDbpAnSpZNiWKTdE5ZXL4QDAVGHJQhPmo/edit?usp=sharing

Send a results summary to the team

[2015-10-07 03:08] tdooner commented on #13
@adborden We just discussed this a bit. @jnmarcus has some concerns that we will not be able to tune the checks appropriately, however there is general consensus here that we should turn it on and address developer annoyances on a case-by-case basis.

Also, we should make sure that gulp doesn't crash or stop watching in development mode if it hits a style problem.

[2015-10-07 03:15] sseiter opened #18 "Write Methodology Page"
Write methodology page FOR NERDS.

This will document all the dirty data details, where we get our data, what IECs, non-itemized contribution.

[2015-10-07 03:16] #16 closed

[2015-10-07 03:19] sseiter commented on #8
The new FAQ page merges the "about us" and the "about this project" and a few FAQs.

[2015-10-07 03:20] tdooner commented on #8
@bayreporta just mentioned [OpenSecrets' methodology pages](https://www.opensecrets.org/industries/methodology.php) as an example of a good piece of background for campaign finance discussion.

This led us into a dark rabbit hole where we discussed the distinction between methodology and FAQ, and the possible scenario of having both of those pages.

Ultimately, I think it is important to disclose

[2015-10-07 03:21] sseiter opened #19 "Write Methodology Page"
Write methodology page FOR NERDS.

This will document all the dirty data details, where we get our data, what IECs, non-itemized contribution.

[2015-10-07 03:22] sseiter opened #20 "Write Methodology Page"
Write methodology page FOR NERDS.

This will document all the dirty data details, where we get our data, what IECs, non-itemized contribution.

[2015-10-07 03:24] sseiter opened #21 "Write short definitions for "non-itemized contributions" and "independent expenditure committees""
Everyone write a super short definition that we can use in the hover environment.

[2015-10-07 03:26] tdooner commented on #21
@sseiter where is the document of plain english descriptions that we have been curating? Can you paste a link here so the person working on this issue can just add it there?

[2015-10-07 03:26] #19 closed

[2015-10-07 03:26] #18 closed

[2015-10-07 03:28] tdooner commented on #7
This should be done in the caciviclab.github.io repo.

[2015-10-07 03:31] sseiter opened #22 "Write Methodology Page"
Write methodology page FOR NERDS.

This will document all the dirty data details, where we get our data, what IECs, non-itemized contribution.

[2015-10-07 03:32] sseiter opened #23 "Decide how to insert citations to indicate where we sourced candidate bios, ballot text, etc."
How will we put in citations?  Like wikipedia?  Other citation style?

[2015-10-07 03:35] #20 closed

[2015-10-07 05:58] tdooner commented on #10
IMHO, the best API to use to map addresses to voting geography is Google's:

https://developers.google.com/civic-information/docs/v2/elections/voterInfoQuery

It even geocodes an address for you.

I have met some folks on the team there. For attempting to match an address to a voting location (which I understand is not exactly what we want to do), they put a lot of effort into cleaning the data an

[2015-10-07 15:36] adborden opened #24 "Deploy script for github pages"
In the short-term, we should host this repo on github pages. This [gist](https://gist.github.com/domenic/ec8b0fc8ab45f39403dd) explains the how to use travis to run a deploy step to push to github pages. However, we'll want to make a few modifications.

- [x] Split the gulp build task in two, one to start the server and the second to build the project.
- [x] Configure travis with a github deploy k

[2015-10-08 00:43] bayreporta commented on #4
So what's the conclusion? Are we adding more than the ballot question? Also, can I insert html into Django backend?

[2015-10-08 00:43] bayreporta commented on #4
I've added all the ballot measures with questions.

[2015-10-08 00:49] bayreporta commented on #6
So actually there isn't a good solid place to get consistent bios. Suggestions?

[2015-10-08 00:59] bayreporta commented on #6
So sfelections does have an area where candidates can submit statements. That might be the fairest place to go as all the candidates have submitted. @adborden that would require us changing "bio" to "statements" if we go that route.

[2015-10-08 01:12] bayreporta commented on #4
All the summary and pro/con text for the ballots I'm getting from http://voterguide.sfelections.org/

[2015-10-08 01:41] bayreporta commented on #4
Done.

[2015-10-08 01:41] #4 closed

[2015-10-08 01:47] bayreporta commented on #21
I can't find the link to that spreadsheet with all the terms, but my two cents:

"non-itemized contributions" = small contributions

"independent expenditure committees" = outside money groups (industry standard)

"independent expenditure" = outside money (industry standard)

Any others?

[2015-10-08 02:57] adborden commented on #23
Didn't want to hijack this, so I created the issue above, we can see how it works.

[2015-10-08 15:55] adborden commented on #24
Additional notes, frontend team is using the develop branch for development, so the script should only trigger deploy on the master branch.

[2015-10-14 03:25] elinaru commented on #23
If we're pulling all bios and all ballot text from single sources, can we just list the linked source at the bottom of the text?

[2015-10-14 03:27] elinaru commented on #21
Can we specify that "non-itemized contributions" are contributions under $100?

[2015-10-14 03:56] rkiddy commented on #23
Are we thinking that the relationship between the citation and the thing would be one-to-many (thing <<---> citation) or many-to-many?

The classic was to model the citations in a single table here would be pk, thing_type, thing_pk, cite_info.

If it a one-to-many, a citation_pk would go, as a foreign key, into the other things.

It could be a many-to-many and that would be fine, from the db persp

[2015-10-15 16:08] adborden commented on #6
Removing v1, as discussed https://docs.google.com/document/d/1cLhf4AICeDVf1yxLjt1e1DtrjxvZGEmerBHOTwm6QoY/edit#

Ballot measures seem to be simpler to implement and make more sense as a first goal. Candidates will follow soon after.

[2015-10-15 16:21] adborden commented on #6
Ah, scratch that, I think we were only talking about candidate campaign finance data. I'll circle back to confirm.

[2015-10-17 17:16] adborden commented on #13
Yep, I think we should split the gulp task so the linting is part of the tests or something. Then linting can fail the tests, but on development, it just spits out warnings (like it does now).

[2015-10-21 03:34] amandaric commented on #6
@adborden Can you give me access to Django so that I can see where to upload content? Thanks!

[2015-10-21 04:15] adborden commented on #6
On Tue, 2015-10-20 at 20:34 -0700, amandaric <notifications@github.com> wrote:

Done :) pinged you the password on slack.

--
Aaron Borden
Human and Hacker

[2015-10-25 19:18] amandaric commented on #6
@aborden Can we create a 'sources' section for each candidate bio on django?

[2015-10-25 20:21] amandaric commented on #6
San Francisco candidate bios are complete. Here is Google excel doc containing the same data: https://docs.google.com/spreadsheets/d/1S92cpxwIqltR8sNBoL8BSjhCk8kQy-603uwuOt3JRT0/edit?usp=sharing

[2015-10-25 20:22] #6 closed

[2015-10-25 20:25] elinaru commented on #23
Attn. @amandaric --

[2015-10-25 22:05] tdooner commented on #24
Hey @adborden, @jnmarcus and I were just browsing around the GH pages site and noticed that there is no server-side support for URLs we change via `pushState`.

I guess we could hack it on GH pages by creating stub pages for URLs that we know about... or use URL fragments instead of pushState... but really I think we will all be happier with a web server that has URL rewriting logic like mod_rewri

[2015-10-25 22:06] tdooner commented on #24
...so I'm going to create an issue for that, since we probably should get that down sooner rather than later.

[2015-10-25 22:14] tdooner opened #32 "Deploy frontend to our actual server"
Deploying to our real server (instead of GH pages) is pretty important so we can support dynamic URLs.

This issue tracks the work necessary to actually deploy the frontend to our disclosure.caciviclab.org server.

[2015-10-26 04:24] adborden commented on #24
Oh bummer! I'm not going to stop anyone from doing that work, but I'd rather not think about it right now and just use URL fragments for v1.

[2015-11-01 20:08] tdooner opened #33 "Rename this repo to `disclosure-frontend`"
Although this is still in alpha mode, it seems unlikely to me that we'll need to differentiate between multiple disclosure-frontend repos given that this one is where all the work is currently happening.

[2015-11-01 20:08] tdooner commented on #33
Thoughts, @jnmarcus ?

[2015-11-01 20:32] adborden commented on #33
@tdooner @jnmarcus since it's the frontend for disclosure, I think `disclosure.caciviclab.io` makes more sense.

[2015-11-01 21:28] tdooner commented on #33
I'm cool with that too - it's the "alpha" in the current name that bugs me.

[2015-11-04 07:30] jnmarcus commented on #33
I'm fine with removing the "alpha".  Since we have so many repos, I feel like maybe we should keep the word "frontend" in it somewhere, just so that it's easier to understand what's what.

[2015-11-11 05:15] jnmarcus opened #39 "fix gulpfile"
bc it's whack

[2015-11-11 05:21] jnmarcus opened #40 "style searchbar"
- add css styling to search input bar
- style search results dropdown

[2015-11-11 21:22] tdooner commented on #39
Not a very helpful description...

[2015-12-13 22:24] adborden opened #43 "Add a link to the API and other project related links in the footer"
Folks have trouble finding the API, let's put a link in the footer.

Link | URL
----- | ------
API | http://admin.caciviclab.org/docs/api-docs
Admin | http://admin.caciviclab.org/admin/
Project Home | http://caciviclab.org/opendisclosure/

[2015-12-14 00:35] adborden commented on #40
@jnmarcus, can we break the "add city name into urls" into it's own story? Seems like this story is mostly about styling of the homepage and nav.

[2015-12-14 00:42] adborden commented on #24
The work for this was merged, and we added pushState in https://github.com/caciviclab/disclosure-frontend-alpha/pull/35 , closing.

[2015-12-14 00:42] #24 closed

[2015-12-15 07:31] adborden opened #46 "Ballot committee placeholder page"
<img src="https://github.com/caciviclab/disclosure-backend/blob/master/mockups/odca-mobile-09-ballot_measure%207.jpeg?raw=true" width="300">

The committee page gives a high-level overview of contribution details related to a single ballot committee.

This is a placeholder story that sets up the page scaffolding so that we can break it into smaller pieces and have a shared foundation to work off o

[2015-12-15 07:37] adborden opened #47 "Committee contributors component"
[Invision screen desktop](https://projects.invisionapp.com/share/TK8O67TEZ#/screens/190014307)

There is no invision screen for mobile.

The committee contributors page lists out individual contributors to a single committee. The focus is on searching and filtering contributors.

This is a placeholder story that sets up the page scaffolding so that we can break it into smaller pieces and have a sh

[2015-12-17 00:24] evanwolf commented on #47
Do you imagine the name of a contributor to be clickable, leading to a contributor's page that lists their contributions (over time and to various recipients)?

[2015-12-17 06:27] adborden commented on #47
Not for this version, but I think it would be useful to note during user testing whether or not folks want to drill down even further than this. It's already pretty dense for mobile.

[2015-12-21 09:00] jnmarcus opened #50 "Review Front-End Optimization - Part #1: Overall Improvements"
- can we remove jquery?
- what else can we remove?
- add autoprefixing? (via gulp)
- pre & postcss? csso? (via gulp)
- create `dist/` folder for production (use gulp)
- html, image, & css minification and optimization (via gulp)

[2015-12-21 09:10] jnmarcus opened #51 "Review Front-End Optimization - Part #2: Mobile Optimization"
- add in [ngAnimate](https://docs.angularjs.org/api/ngAnimate) (good to have regardless, not just for mobile).  Another help resource for ngAnimate: http://www.nganimate.org/
- animate.css [as LESS](https://github.com/machito/animate.less) (possibly to go along with ngAnimate)
- most likely add in/ make use of [ngTouch](https://docs.angularjs.org/api/ngTouch)
- review if [ngHammer](http://hammerjs

[2015-12-21 14:34] bcipolli opened #52 "Standardize API on locality_id"
I've seen in a few code snippets uses of [`fips_id`](https://github.com/caciviclab/disclosure-frontend-alpha/blob/483050ed9eeff97fd72ab39076ebf880ee3ee010/app/appRoutes.js#L41) and [`fip_id`](https://github.com/caciviclab/disclosure-frontend-alpha/blob/483050ed9eeff97fd72ab39076ebf880ee3ee010/app/components/homePageModule/homePage.html#L26)

Seems to me we should be using `fips_id` ([Federal Infor

[2015-12-21 18:41] tdooner commented on #52
No reason to use `fip_id`, we should standardize on `fips_id`.

[2015-12-21 18:44] tdooner commented on #50
Which of these will help us build features faster? Because we should optimize for that first.

[2015-12-21 22:40] bcipolli commented on #52
Just saw this while running the front-end server: gulp-jscs is complaining about `fips_id`:

![image](https://cloud.githubusercontent.com/assets/4072455/11943199/c4c7d8ca-a7f0-11e5-8407-69eccb9f5b32.png)

[2015-12-21 22:54] bcipolli opened #55 "Make it easier to change back-end servers"
**Issue:**
Back-end devs need to be able to change the back-end server for testing. Currently, this requires editing a variable in an embedded JS file: `app/components/services/disclosure/service.js`

**Proposed Solution:**
Define a variable in some common settings file (`gulpfile.js`?), and use that setting inside the above `service.js` file.

**Notes:**
If someone helps me understand the right w

[2015-12-22 06:41] jnmarcus commented on #50
@tdooner an api ;)

[2015-12-23 05:00] jnmarcus commented on #52
I agree with @tdooner on standardizing to fips_id.  @bcipolli gulp-jscs doesn't like a lot of things currently we should probably adjust it based on what the team decides.  What does the backend/API team prefer? We can adjust .jscs file accordingly, unless you guys think UPPER_CASE is better, and want to change the values coming back to reflect that...

[2015-12-23 17:50] tdooner commented on #50
Touché

[2015-12-24 06:02] adborden opened #56 "PLACEHOLDER Main user flow for search box"
This is a placeholder story, @sseiter can you tackle this (or assign as appropriate)? @jnmarcus mentioned that the search text is supposed to work differently than we're building it. This isn't critical, but good to document/implement sooner.

## Current behavior (search-style)

The current behavior is that we start with a search box, no results. Typing will match city names against known (support

[2015-12-24 06:02] adborden commented on #56
cc @tdooner

[2015-12-30 02:03] evanwolf commented on #21
@bayreporta  https://docs.google.com/spreadsheets/d/1UKoSsBIh79tDSbG-gV6WczWpunOhOEkPopb16eHPYKY/edit?usp=sharing is the glossary table.

I did some more work on the table this afternoon.

[2015-12-30 02:25] evanwolf commented on #21
"non-itemized contributions" are under-$100 cash or in-kind contributions reported by a campaign. Unlike in-kind contributions, they are reported as a group without individually listing the transaction or the contributor. The exception to the under-$100 rule is if you give multiple times and the cumulative value is $200 or more; then the campaign will itemize and report each of your contributions.

[2015-12-30 02:48] bcipolli commented on #21
@evanwolf very cool. @andrell81 do you have time to check out the doc above?

[2015-12-30 03:37] evanwolf commented on #22
straw man: https://docs.google.com/document/d/1hBipj-Vx3R55wa3hNqlstYRG-FNiut5Y2qwWitXqcsk/edit?usp=sharing

[2015-12-30 04:00] amandaric commented on #56
The end goal is to have a flexible search tool that could provide results for the following queries: cities, counties, ballot measures, candidates, and contributors. We can start with a smaller chunk of this list and eventually build it out.

[2015-12-30 04:23] jnmarcus opened #58 "Figure out what besides search bar will be on homepage"

[2015-12-30 04:23] jnmarcus opened #59 ".scss? Thoughts?"

[2015-12-30 04:25] jnmarcus opened #60 "Swap out gulp & browserify for webpack"

[2015-12-30 04:44] tdooner commented on #60
Can you explain what this will buy us?

[2015-12-31 06:51] adborden commented on #59
I'd prefer scss over less, but not a high priority right now.

[2015-12-31 06:52] adborden commented on #58
@jnmarcus more detail? Are the mockups incomplete?

[2015-12-31 18:59] jnmarcus commented on #58
As of right now the search bar is considered just a starting point.  We know we would like other things on the page as well, (most likely data visualizations) but are not sure what yet, and it was decided for the time being not to focus on this until we were able to properly connect to the data/api, so that we could start to get some ideas of the visualizations we would maybe want to display.

At

[2015-12-31 19:00] jnmarcus commented on #59
same, but this could maybe be a good task for someone just looking to get involved for the week or so

[2015-12-31 19:03] bcipolli commented on #58
@jnmarcus We weren't able to meet with Stacey this past week (she was off), so will do so next week. We'll have more to share then.

As far as data/api, I have suggested in the back-end a set of APIs on top of the proposed schema, to fit the needs for each front-end mock-up. I would be glad to mock-up actual XML for those feeds, but I'm not entirely clear where those live and haven't taken time to

[2015-12-31 21:16] tdooner commented on #58
I don't think we should have that much data on the homepage... rather I was imagining a few different ways to navigate into subpages ("San Francisco") without having to use the search bar.

I believe this story is effectively meant to capture the difference between the mockup we already have of the homepage on Mobile and the same thing on Desktop. We'll have a lot more real estate to exploit to gi

[2016-01-03 21:13] #46 closed

[2016-01-03 21:17] adborden opened #62 "Refactor pages into components"
As per feedback from #45 and offline discussion, each page should live under `appMain`. The page will be a thin module, containing the ui-router state declaration and a controller to attach the state resolvers to the scope. The bulk of each page will exist as a directive under `common`, and the page will simply pass the data objects to directives.

cc @jnmarcus

[2016-01-03 21:20] adborden commented on #62
Additionally, the components should be pretty flat. Even related components, such as the ballot measure page, ballot measure supporters, and ballot measure opposers, will not be nested in the directory hierarchy, but exist at the top-level under `common`.

[2016-01-03 21:26] adborden opened #63 "Add example demo links to nav"
As a developer, I want a "jump list" of example links to existing pages so that I can demo the application to others without having to memorize urls to individual pages.

We haven't figured out how the navigation should work in the app yet, but I think it would be useful to populate the nav with some demo links.

cc @jnmarcus

[2016-01-03 21:27] adborden commented on #63
These links would be temporary until we have a working nav.

[2016-01-10 04:36] adborden commented on #21
Can we keep these terms on the [Glossary Wiki](https://github.com/caciviclab/caciviclab.github.io/wiki/Glossary), rather than in a doc?

[2016-01-13 15:03] #63 closed

[2016-01-15 22:04] bcipolli commented on #62
Is there any more to do here, or done?

[2016-01-15 22:05] bcipolli commented on #52
Final conclusion is that `fips_id` is *not* the right abstraction. Instead, we should use a `locality_id`. Updated the title.

[2016-01-16 04:34] bcipolli opened #69 "Homepage: when portal size is small, footer covers search box, with no scrollbars"
Can't get to the search box when the window size is small:
![image](https://cloud.githubusercontent.com/assets/4072455/12370479/54503fac-bbc7-11e5-898d-7eb8118eee0c.png)

[2016-01-16 16:40] bcipolli opened #70 "Add dependency information for corresponding back-end build"
There needs to be some way to keep the front-end version pointed to a useful back-end version. Otherwise, it's hard to match a front-end build with which back-end server it's working with.

Perhaps adding a `requirements.txt` with a pointer to the relevant commit? At least until we're farther along. Then, back-end changes can proceed without the front-end, and front-end changes to take advantage o

[2016-01-17 03:42] bcipolli commented on #69
Turns out that the footer will float to the bottom of the portal... even if there's a scrollbar.

[2016-01-17 03:42] bcipolli opened #72 "An API error from swagger causes $digest already in progress error"
![image](https://cloud.githubusercontent.com/assets/4072455/12375815/3dc1dc4c-bc89-11e5-9fde-e0b5c9b195ec.png)

--
Repro

[code]
_- added by @adborden_

[2016-01-17 08:23] bcipolli opened #73 "Move mock data from front-end to back-end"
Currently, a number of URLs have `resolve` functions that don't access the back-end, but instead return a data object directly.

This issue is to simply move those data objects to the back-end, and access them through the `disclosure` service.

[2016-01-17 08:25] bcipolli opened #74 "Migrate front-end to current back-end terms"
We made some back-end changes to terms we use to describe various concepts. Front-end should migrate as well.

e.g. fips_id => id, election => ballot or election_day, contest => office_election or referendum, etc...

[2016-01-17 15:36] bcipolli commented on #72
When I set up front-end/back-end interactions for #73, I start seeing this on other endpoints. This is now blocking me from making progress.

@adborden @jnmarcus could you take a look? Perhaps it's a setup issue on my end?

[2016-01-18 02:07] adborden commented on #72
Looking at this now. I assume this is on the develop branch? One thing I noticed is that the feature/62 PRs were meant to be merged in reverse order. So not all the changes landed right. I'll be more clear about this next time.

[2016-01-18 02:35] adborden commented on #72
I can't repro this right now. The a.c.o [endpoint](http://admin.caciviclab.org/docs/#!/search/get) is returning 0 results. Even trying locally after running `xformnetfilerawdata`, I don't have results. Looks like I need to add a ballot before search will actually return any results.

[2016-01-18 02:36] adborden commented on #72
Which branch should I be using on the backend?

[2016-01-18 02:40] bcipolli commented on #72
`xformnetfilerawdata` always creates a `ballot`, as long as there's 460A data for whatever agencies/years you're loading. It couldn't otherwise--`ballot` is necessary to load any `IndependentMoney`.

This should work on `master`.

[2016-01-18 03:30] adborden commented on #72
The root cause is that the parameter on the backend  changed. This is the error I'm seeing.

[code]

https://github.com/caciviclab/disclosure-frontend-alpha/pull/77 fixes the issue and should unblock you @bcipolli. But there's still a bug in the error handling.

[2016-01-18 03:33] bcipolli commented on #72
:+1: thanks! I guess you found the error through the browser's debugger somehow? Any tips on how to locate the error would be appreciated--I wasn't sure how to decompose...

[2016-01-18 03:34] adborden commented on #72
@bcipolli it's actually in your screenshot, it just isn't reported as an error, just a regular `console.log`.

[2016-01-18 03:54] bcipolli commented on #72
LOL! :+1:

[2016-01-18 13:11] bcipolli commented on #5
Now, for each Candidate, there is a `photo_url`:

http://admin.caciviclab.org/admin/office_election/candidate/73/
![image](https://cloud.githubusercontent.com/assets/4072455/12392155/b23d0bb4-bda1-11e5-98a0-07f8989d21a6.png)

Note: If we load this information manually now, we should also have a way to save it. Fixtures aren't a great choice at the moment, because the data in the database isn't cle

[2016-01-18 13:13] bcipolli commented on #5
We should probably also be very careful about where we get images from, perhaps writing a set of rules for how we get them, so that people don't question the method and suggest some bias (e.g. is there an official campaign photo? or perhaps facebook photo, twitter photo, etc)

[2016-01-18 13:15] bcipolli commented on #7
@tdooner Now that this project is a bit broader than the caciviclab, does it make sense to do this in this codebase directly?

[2016-01-18 13:24] bcipolli commented on #13
@adborden was this fixed by any of the changes you made last night? if not, is this something you could address? Seems important to me, especially if we're not doing code reviews before merging.

[2016-01-18 13:27] bcipolli commented on #33
@tdooner Is there anything from stopping us from changing this? It's so easy to change in the settings, and github redirects URLs from the old name to the new.

[2016-01-18 14:18] bcipolli commented on #43
@adborden I'd like to try and do this. Any tips on how to do this programmatically?

[2016-01-18 14:22] bcipolli commented on #52
Fixed by #77

[2016-01-18 14:22] #52 closed

[2016-01-18 14:25] bcipolli commented on #58
@jnmarcus update: we met; nothing new we wanted to add to the homepage.

Oh goodness, how embarrassing. JSON!!

[2016-01-18 14:29] bcipolli opened #83 "Allow city name in urls"
Broken off from #40
cc @jnmarcus

[2016-01-18 16:00] mikeubell commented on #5
What is the difference between "ballot item" and "election office"?

[2016-01-18 16:01] bcipolli commented on #5
`BallotItem` is a generalization, encompassing both `Referendum` and `OfficeElection`.

[2016-01-25 18:28] bcipolli opened #84 "C3 directives"
Originally opened by @adborden at https://github.com/caciviclab/disclosure-backend/issues/31

[2016-01-25 18:33] bcipolli commented on #23
For a first pass, simply having links (without back-end models) seems much more straightforward / faster / cleaner.

[2016-01-25 19:03] bcipolli commented on #13
@adborden Can you make this happen? Or did this get in, in one of your recent PRs?

[2016-01-25 19:05] bcipolli commented on #33
Done.

[2016-01-25 19:05] #33 closed

[2016-01-25 19:06] bcipolli commented on #39
No update, let's close and wait for something descriptive.

[2016-01-25 19:06] #39 closed

[2016-01-25 19:06] bcipolli commented on #40
I created the a new issue for city names and edited the title/description

[2016-01-25 19:08] bcipolli commented on #51
These sound like high-level design decisions, so we should wrap up this kind of investigation asap?

[2016-01-25 19:16] bcipolli commented on #59
Seems to me this should be resolved early if possible, so other devs can come on board and run with an existing workflow.

[2016-01-25 19:18] bcipolli commented on #70
Closing until this becomes a strong need.

[2016-01-25 19:18] #70 closed

[2016-01-25 19:18] bcipolli commented on #72
Fixed in #77

[2016-01-25 19:19] bcipolli commented on #73
back-end was merged, now just need to connect the front-end.

[2016-01-25 19:19] bcipolli commented on #74
This should happen ASAP. @adborden Do you want to try this?

[2016-01-25 19:20] bcipolli commented on #83
I assume this is an SEO issue. We can push this off until we're ready for public release, in that case.

[2016-01-26 01:46] adborden commented on #72
I'd leave this open, as there's still an issue with the error handling.

[2016-01-28 04:52] tdooner commented on #55
Seems done to me.

[2016-01-28 05:02] adborden opened #86 "Desktop layout interim solution"
The pages look really janky on desktop. http://disclosure.caciviclab.org/#!/committee/1 Let's just come up with an interim solution. We're not using any of the bootstrap grid on the main app. Even making the sections 1/2 or 1/3 width would be a little better.

If we could get a final desktop design, that would be even better :)

cc @elinaru @sseiter

[2016-01-28 05:03] bcipolli commented on #55
Actually, it's an open PR and sounds like @adborden has a better idea on how to do it...

[2016-01-28 05:04] bcipolli commented on #86
I must be showing my East Coast origins... I had to look up [janky](https://www.urbandictionary.com/define.php?term=janky) :smile_cat:

[2016-01-28 05:06] adborden commented on #86
I grew up in NJ....

[2016-01-28 05:14] bcipolli commented on #86
Eh... throw me a bone @adborden ! :wink:

[2016-01-28 05:14] adborden opened #87 "Frontend visual defects"
We're keeping  a list of the minor defects in the UI. We're not ready to create individual issues for these because we anticipate many many of them. Once we do one more QA pass for the frontend, then we'll say it's "good enough" and open individual issues when we find things that aren't "good enough".

- [ ] ["More details" link](http://disclosure.caciviclab.org/#!/committee/1) doesn't look good.

[2016-01-28 06:50] tdooner commented on #86
@adborden I think you meant "hella janky"

[2016-01-28 06:52] adborden commented on #86
On Wed, 2016-01-27 at 22:50 -0800, Tom Dooner wrote:

:D

--
Aaron D Borden
Human and Hacker

[2016-02-02 05:51] jnmarcus opened #89 "Complete blank graph component"

[2016-02-02 05:52] jnmarcus opened #90 "Complete pageHeader component"

[2016-02-02 05:52] jnmarcus opened #91 "Complete list element component"

[2016-02-02 05:55] jnmarcus opened #92 "Get ngdoc up and running"
this is ambitious for the February 4th milestone, but I feel like we're going to need this up sooner rather than later, otherwise I'm not exactly sure how people will know how to work with the components..

[2016-02-04 00:02] fvntr commented on #11
Are there any share buttons designed for this?

[2016-02-04 20:13] tdooner commented on #11
@elinaru could clarify if necessary, but I think any off-the-shelf facebook/twitter/pinterest integration will work great.

[2016-02-10 03:53] elinaru commented on #86
Working on mock-ups for this now --

[2016-02-10 04:17] #59 closed

[2016-02-11 08:23] bcipolli opened #96 "Automate basic browser tests"
Right now, testing of the front-end is manual: run `gulp build`, open the browser, view the homepage, click on some of the browser links.

Better to [automate this into the travis build](https://docs.travis-ci.com/user/gui-and-headless-browsers/) using [Selenium](http://www.seleniumhq.org/) or [PhantomJS](http://phantomjs.org/).

[2016-02-11 15:13] bcipolli opened #97 "Use search to discover SFO city ID for navbar"
Currently it's hard-coded to `71`. It would be a better demo (i.e. work when pointing to any backend server instance), and very instructive, if we got that ID by using the `localityApi.search` method to get the San Francisco id.

@adborden or @jnmarcus is this something you could set up easily? I could run with it a bit if so. Thanks!

[2016-02-18 03:44] adborden commented on #96
@davidgarber want to take a look at this?

[2016-02-18 03:46] adborden commented on #96
I would start with http://webdriver.io/

[2016-02-18 03:53] adborden commented on #5
@bcipolli is the candidate photo upload fixed?

[2016-02-18 03:56] adborden commented on #84
@ajmobidesign you still working on this? @MrMaksimize might be able to help.

I can also help get C3 on the page if you're having issues with npm/browserify.

[2016-02-18 04:17] adborden commented on #73
@bcipolli I think this is done, yeah?

[2016-02-18 05:22] bcipolli commented on #73
yep!

[2016-02-18 05:22] #73 closed

[2016-02-18 05:23] bcipolli commented on #5
@adborden It is.

[2016-02-19 16:45] adborden commented on #97
On Thu, 2016-02-11 at 07:13 -0800, Ben Cipollini <notifications@github.com> wrote:

@bcipolli can you include your repro steps? I think the frontend is all
wired up correctly, the issue is the backend stubs return id 71, so
that's what the frontend uses to query the rest of the data. No?

[2016-02-19 16:53] adborden commented on #96
Derp right, for angular we should be using [protractor](http://www.protractortest.org/).

[2016-02-19 16:56] bcipolli commented on #97
@adborden I was referring to this line of code: https://github.com/caciviclab/disclosure-frontend/blob/22c6f839c6be18ed67b910fb3c698359ae75eef9/app/components/common/appMainNav/appMainNavController.js#L38

[2016-02-19 17:05] adborden commented on #97
I see. I guess it's not clear enough, but those links are "demo links", quick shortcuts to get to the different pages for demo and testing purposes. They should be removed before v1.0.

AFAIK [we don't have any definition](https://github.com/caciviclab/disclosure-frontend/issues/9) of what should be in the nav, so I propose we just remove the nav before version 1.0 unless we come up with something

[2016-02-19 17:07] adborden commented on #9
@elinaru has there been more discussion on this? I think for v1.0 search provides a reasonable way to get to the information you want, so I propose we remove the nav menu for v1.0.

[2016-02-19 17:08] adborden opened #101 "Remove demo links from navigation menu"
The Demo links in the nav menu are quick shortcuts to get to the different pages for demo and testing purposes. They're not meant to be included in the v1.0 release so they should be removed or put behind a debug flag.

[2016-02-19 17:09] adborden commented on #97
Created https://github.com/caciviclab/disclosure-frontend/issues/101 to track it.

@bcipolli can we close this? The search should work to get what you want.

[2016-02-19 17:09] bcipolli commented on #97
Right. Those links don't work when I run set things up locally, which is why opened the issue. But no biggie--I'm mostly focused on data cleaning these days, so if it's not affecting others, no prob!

[2016-02-19 17:09] #97 closed

[2016-02-21 08:30] jnmarcus commented on #90
completed in pull request #98

[2016-02-21 08:30] #90 closed

[2016-02-24 03:35] jnmarcus commented on #96
:+1:

[2016-02-24 04:32] jnmarcus commented on #55
@bcipolli is this what you're talking about?

**here:** (server.js)
https://github.com/caciviclab/disclosure-frontend/blob/develop/server.js

**and here:** (gulpfile)
https://github.com/caciviclab/disclosure-frontend/blob/c146a43de7f7bf15de3e37bca21e20a016049eb8/gulpfile.js#L98-L126

[2016-02-24 05:52] jnmarcus commented on #5
I think we should offload this to [Cloudinary.com](http://cloudinary.com/). Unless we want to handle image optimization and caching ourselves, this will really slow down the frontend.  Do you guys think we'll be able to stay within[ the free plan](http://cloudinary.com/pricing)?

[2016-02-24 06:02] jnmarcus commented on #5
Also, I think ^it can be integrated directly with Django

[2016-02-24 15:03] bcipolli commented on #5
@jnmarcus I don't understand, sorry. Django has facilities for uploading & serving photos. Django & the browser communicate to cache images when appropriate. We have 5 lines of code to specify to Django where to store the images uploaded by back-end admins who define candidate information.

Is there anything left for Cloudinary to solve? Remember: I'm relatively new at modern front-end technologie

[2016-02-24 15:07] bcipolli commented on #55
@jnmarcus Hmmm, how does that compare with this?
https://github.com/caciviclab/disclosure-frontend/blob/846367100343ce0d04193d8981209026390d9b0b/app/components/services/settings/index.js#L17

Seems we may have two different environment variables for where to get the API/Swagger info?

[2016-02-24 15:21] sseiter commented on #5
Hello Jamie and Ben,

I'm not a front end developer either, but I feel like if we can handle this with Django, and incorporating new services that would be best.  I'm hesitant to integrate Cloudinary if we might ever need to scale up from the free plan.  And since it is my hope that we'll be able to scale rapidly.

A quick note: I've met with Spike about how our team will make technical decisions,

[2016-02-25 04:10] jnmarcus opened #102 "Update Angular core modules to 1.4.9 & then put a hard stop on updates until we upgrade to 2.0"
1.5 was a large update with potentially breaking changes, so we should probably update now, and call it quits with Angular 1.**, until we upgrade to 2.0.

Updates to other angular packages we'll have to watch and kind of play by ear.  As long as they don't break what we have, updating should be fine.

It is actually possible for us to use Angular 2 in Angular 1 applications now tho, so if we have

[2016-02-25 04:37] jnmarcus commented on #69
@bcipolli what's your expectation on the homepage for the behavior of the footer and the scrollbar?

also, how tall was your browser window when you shot this? (ish).  It looks about 300px high, in which case I would say that that use case may not be large (mobile phone heights start at 640px, so you wouldn't see this problem).

Essentially, we can fix it, but what will happen is it will sit right

[2016-02-25 04:37] adborden commented on #87
I think @davidgarber started on this, can I assign it to you?

[2016-02-25 04:48] jnmarcus commented on #87
@adborden @bcipolli what's your expectations for the footer's behavior across the site?

Currently it is stuck to the bottom of the window on the homepage, but is flexible on its location based on the assumption that other content will be filling the page (which will in turn push the footer down to the bottom).  Fixing the footer to the bottom on pages that aren't the homepage, will limit the exte

[2016-02-27 18:45] adborden commented on #69
Let's add a minimum height to the homepage, plus some padding to account for the footer so we're never in this situation. I think [your comment](https://github.com/caciviclab/disclosure-frontend/issues/87#issuecomment-188614002) about how the homepage works compared to other pages is correct and we should keep that behavior.

[2016-02-27 18:47] adborden commented on #87
Yeah, let's assume for the footer that the content will fill out the page a little more. We can come back to it once that page has some content. I'm removing it from the list.

[2016-02-29 08:51] #89 closed

[2016-03-02 03:55] adborden commented on #102
We've had a few issues with newer package versions causing breakages. Angular is one of them. I think it's time to introduce a shrinkwrap file. Someone else had mentioned this before. Thoughts?

[2016-03-02 03:58] adborden commented on #62
@jnmarcus can you comment on this one? I think it's complete, as written at least.

[2016-03-05 10:35] jnmarcus opened #104 "Shrinkwrap all the things"
see #96, #102 , & #103

[2016-03-05 10:40] jnmarcus commented on #102
@adborden my computer was wigging out every time I tried to run npm shrinkwrap, but the tests were passing, so I wanted to get this merged.  I created a new issue (#104) to shrinkwrap everything, feel free to take it.

[2016-03-05 10:40] jnmarcus commented on #102
closed by #103

[2016-03-05 10:40] #102 closed

[2016-03-10 05:58] jnmarcus commented on #92
A couple of projects/generators that you can use out out of the box:

1) https://www.npmjs.com/package/generator-ngdoc
2) https://www.npmjs.com/package/gulp-ngdocs

[2016-03-10 06:14] jnmarcus commented on #92
Some examples of sites with ng-doc:

- https://angular-ui.github.io/bootstrap/
- http://ui-grid.info/docs/#/tutorial
- https://quramy.github.io/example-of-generator-ngdoc/index.html#/index (example generated from https://www.npmjs.com/package/generator-ngdoc mentioned above)
- Angular docs themselves: https://docs.angularjs.org/api
- https://www.ag-grid.com/best-angularjs-data-grid/index.php

[2016-03-10 06:24] #104 closed

[2016-03-23 03:06] #74 closed

[2016-03-23 03:33] amandaric commented on #56
[Main User Flow for Search Bar.pdf](https://github.com/caciviclab/disclosure-frontend/files/185338/Main.User.Flow.for.Search.Bar.pdf)

Attaching wireframe that details the expected behavior of the search bar on the home page. To summarize for the first release, we'd like to provide autosuggestion based on the user's search entry (beginning with the first character entered). It would be great to bo

[2016-03-23 04:07] amandaric opened #107 "COMPONENT: Text Blurb"
A text blurb module is a section on the page that contains text. Example:

![2016-03-22_20-50-22](https://cloud.githubusercontent.com/assets/8173266/13975320/0b2cedfa-f071-11e5-941f-4dca2f42b69a.png)

The text blurb may contain the following sub-components:

- Title/Header
- Body copy
- Link to view/read more

Possible interactions:

- Expandable: if the module includes a "read more" or "view more

[2016-03-23 04:15] amandaric opened #108 "Measure Summary Page: Ballot Summary"
![2016-03-22_20-50-22](https://cloud.githubusercontent.com/assets/8173266/13975154/b598448a-f06f-11e5-8202-9469a39cfacf.png)

On all ballot measure summary pages, include the following information within a **text blurb** component  (#107) displayed beneath ballot title/header info. The ballot summary version of the component will include:

- Title: **Ballot Summary**
- Body copy: Pull in text from

[2016-03-23 04:40] jnmarcus opened #109 "Create Docs Part of gh-pages and on site"

[2016-03-23 05:09] jnmarcus opened #110 "Draft URL Structure (WIP)"
`/state` - CA state data
`/state/{electionYear-Month(?)}`
`/state/{electionYear-Month(?)}/proposition`

`/cities` - all cities in CA with (& without?)data

`/city/{cityId}/{cityName}` - a city page
`/city/{cityId}/{cityName}/{electionYear-Month(?)}`
`/city/{cityId}/{cityName}/{electionYear-Month(?)}/{position}` - overview data for all candidates running for one position in a given election year
`/

[2016-03-30 03:19] amandaric opened #111 "COMPONENT: Bar Chart"
This chart will display amounts of money for or against a candidate or measure. Example:

![2016-03-29_21-06-02](https://cloud.githubusercontent.com/assets/8173266/14304472/d5d8da2c-fb67-11e5-9bbd-5d84f7b64d05.png)

The chart module includes:
- Title (i.e. "Within Oakland") is a bold dark gray font, sentence case, left-aligned
- Bar length illustrates fraction of a total; it can vary in length and

[2016-03-30 04:18] amandaric opened #112 "Measure Summary Page: Measure Money Origin Charts"
On the Measure Summary page, include two measure money origin charts - one for supporting. Example:

![2016-03-29_21-06-02](https://cloud.githubusercontent.com/assets/8173266/14131630/274f9c7c-f5f2-11e5-8255-3d17a8370967.png)

**Supporting Measure Money Origin Chart:**

1. Title: "Money Supporting the Measure"
2. Total money contributed for support
3. Three bars: Within <City or County>, In-State,

[2016-04-17 04:35] jnmarcus commented on #84
c3-angular is now loaded into the project, so I'll close this for now.  Components aren't built for it yet, but it exists.  It is referenced at the top of `app.js`.

[2016-04-17 04:35] #84 closed

[2016-05-05 05:18] #83 closed

[2016-05-05 05:22] jnmarcus commented on #72
Fixed in #114

[2016-05-05 05:22] #72 closed

[2016-05-05 05:22] jnmarcus commented on #83
fixed in #114

[2016-05-05 05:24] jnmarcus commented on #40
closed by #114

[2016-05-05 05:24] #40 closed

[2016-05-05 06:01] jnmarcus opened #115 "Fix tests failing (on travis) and in general"
tests are failing after pull request #114.  They look like they're missing mock data for the api, and we should probably add [jasmine](http://jasmine.github.io/) in for unit testing as well..

Some resources for unit testing angular apps:
- https://docs.angularjs.org/guide/unit-testing
- https://github.com/johnpapa/angular-styleguide/blob/master/a1/README.md#testing

[2016-05-22 20:52] adborden opened #118 "gulp bulid fails when html comments contain ` or '"
`gulp build` fails when our HTML templates contain HTML comments containing ` or `'`. Here's the build failure from travis

https://travis-ci.org/caciviclab/disclosure-frontend/builds/132125143#L2458

cc @jnmarcus

[2016-05-22 20:54] adborden commented on #118
I haven't spent any time to track this down, but I would suspect its somewhere in our browserify plugins. Specifically whatever third-party tool we're using to wrap the HTML templates as javascript content.

[2016-05-22 21:04] jnmarcus opened #120 "Remove 'develop' branch from workflow and work off of 'Master' instead"

[2016-05-22 22:09] tdooner commented on #118
I can't entirely pin this down either, but my working theory goes: we have a dependency on partialify (configured in karma.conf.js for some reason) which has struggled with this problem previously (https://github.com/bclinkinbeard/partialify/issues/10) and also does not have test coverage for any  HTML fixtures that have quotation marks in them.

[2016-06-06 21:11] jnmarcus opened #124 "contributionTable - show 5 highest contributors and make the rest toggleable"
Background Info:
By default contributors should be sorted from highest amount contributed, to lowest.  The 5 contributors with the highest amounts should be displayed when a table loads, and the rest should be hidden under a toggleable section labeled 'See All'.  Clicking on the 'See All' button should display the rest of the results in the table/ with and the 'See All' text should change to 'See

[2016-06-08 02:43] KyleW opened #125 "Include some context about the funding rules in each city"
It could be as simple as a link to the rules govern each race. A fancier version might show these rules in the appropriate context on each page.

[2016-06-16 01:31] adborden commented on #125
Cool, where can a person find the rules for say, Oakland?

On Tue, 2016-06-07 at 19:43 -0700, Kyle Warneck <notifications@github.com> wrote:

--
Aaron D Borden
Human and Hacker

[2016-07-06 03:10] tdooner commented on #110
As we just discussed, adjusting these endpoints to more closely match the API structure will make the client code a lot simpler.

For example: using `/locality/{localityId}` instead of the city/state prefix will allow for the API client to simply request the API endpoint with the same ID rather than having to resolve the city name back into a locality ID or something.

This comes at the expense of

[2016-07-06 03:31] elinaru opened #127 "Add list of offices to locality page"

[2016-07-13 03:42] jnmarcus commented on #91
closed by #128

[2016-07-13 03:42] #91 closed

[2016-07-13 16:04] KyleW commented on #32
Are we still relying on gh pages? If so, this seems important. @tdooner  I'm glad to do this work, but would need to know where to put it and may need additional permissions to make dns work right.

[2016-07-13 20:07] tdooner commented on #32
@KyleW I think we got around this through some other frontend method, though I forget exactly what that was. At least for now, using URL fragments will allow us to not have to do this ticket yet.

[2016-07-13 20:07] #32 closed

[2016-07-15 02:22] jnmarcus commented on #32
@KyleW we are still relying on gh pages. @tdooner are u saying that because we're using Angular UI-Router we don't need to do this? (just making sure I understand)

[2016-07-15 02:29] KyleW commented on #32
I'm glad to explore the topic either way. I know very little (errr . . . nothing) about gh pages, but I'll read the docs and figure it out. I can't imagine that's where we expect this to live perpetuity right?

[2016-07-19 16:08] KyleW commented on #60
I share Tom's reaction that switching out tooling is time consuming and doesn't move the ball forward in terms of features so we should put it off. However, I spent a bunch of time last night fighting with browserify plugins that don't quite work as intended. The seed project we started with used every plugin out there and it's now a real hassle to maintain.

I'll continue to configure plugins unt

[2016-07-19 16:10] KyleW commented on #56
Is there still work to do here? Seems done to me.

[2016-07-19 16:14] KyleW commented on #13
Since I'm messing with tests and infrastructure, I can grab this. Is there any CI system in place? Or is the goal just to exit the gulp build-prod task with a non-zero exit code?

[2016-07-20 03:53] tdooner commented on #56
Me too.

[2016-07-20 03:53] #56 closed

[2016-07-20 03:56] tdooner commented on #60
Okay yeah, thanks for the bump. I have had pretty good experience with Webpack at work, so I think it is a promising solution if we continue to hit browserify snags.

But I am optimistic that kyle's JS configuration mojo will allow us to simplify our browserify pipeline enough so it is not flaky. And that will be more straightforward than swapping it out wholesale.

I'm closing this for now, so th

[2016-07-20 03:56] #60 closed

[2016-07-20 03:57] KyleW opened #132 "Build contributors page"

[2016-07-20 04:11] KyleW opened #133 "Build the measure summary page"
After the components are done, put them on a page, call an endpoint, add a link in the appropriate place in the app.

[2016-08-01 00:37] KyleW commented on #120
I'll merge the open pull request to develop. then merge develop into master and delete develop once it's all approved.

[2016-08-01 00:41] KyleW commented on #13
Putting this off to focus on features for the moment. Will reconsider once the MVP is out.

[2016-08-03 17:28] #115 closed

[2016-08-03 17:29] KyleW opened #135 "Glyphicons don't work"
There's a bunch of error messages in the console around fonts and glyphicons don't work. We should iron out those kinks.

[2016-08-03 18:02] KyleW commented on #135
@jnmarcus - Have you seen this too? Do you expect glyphicons to be available? I haven't investigated at all yet so I'm not even sure what it's supposed to be doing.

[2016-08-04 02:24] jnmarcus commented on #135
@kyleW can you post a screenshot of the error messages you're seeing? And are you only seeing them on your computer? I'm not seeing it on the live site or on my local, so it's possible you just don't have the fonts installed on your machine

[2016-08-04 03:35] KyleW commented on #135
This is what I'm seeing.
![screen shot 2016-08-03 at 8 33 34 pm](https://cloud.githubusercontent.com/assets/4153920/17389488/aa701804-59b9-11e6-80ab-6da16b700c91.png)

Notice the square next to "Read More" and the warrnings in the console:
ailed to decode downloaded font: http://localhost:5000/fonts/glyphicons-halflings-regular.woff2
:5000/#!/measure/1:1 OTS parsing error: invalid version tag
:500

[2016-08-10 15:17] KyleW commented on #135
Apparently, we're using font awesome instead. no issue here. Closing.

[2016-08-10 15:17] #135 closed

[2016-08-14 18:26] #127 closed

[2016-08-14 20:04] jnmarcus commented on #120
@KyleW sorry I didn't realize you had intended to finish this.  I just merged develop into master, changed the default branch to master, and deleted develop, so I'll close this issue for now

[2016-08-14 20:04] #120 closed

[2016-08-18 22:19] KyleW commented on #120
works for me.

[2016-08-24 02:35] elinaru commented on #7
Opened https://github.com/caciviclab/caciviclab.github.io/issues/13 in the right repo. Closing this.

[2016-08-24 02:35] #7 closed

[2016-08-24 04:04] jnmarcus commented on #107
closed by #137

[2016-08-24 04:04] #107 closed

[2016-08-28 19:50] adborden commented on #55
The PR for this was merged, but it's no longer working as the `envify` code was commented out. [Instructions still exist](https://github.com/caciviclab/disclosure-frontend#testing-against-a-development-backend), but don't work.

[2016-09-07 02:48] KyleW commented on #111
@elinaru Can you point me at the latest mock for this guy?

[2016-09-07 04:00] KyleW commented on #111
Resolved by pull request #143

[2016-09-15 04:50] #111 closed

[2016-09-15 05:03] KyleW commented on #133
This is a dupe with work covered elsewhere. Closing.

[2016-09-15 05:03] #133 closed

[2016-09-15 05:05] KyleW opened #145 "Update links on upcomingElectionList"
Change links on the upcomingElectionList page from hrefs to ui-sref's and have them redirect to measure/:id/:locality and committee/:id/:locality instead of /:measure-name.

This will make it possible for users to test out more of the flows without having to manually enter urls.

[2016-09-15 06:22] jnmarcus commented on #145
@KyleW does pull request #146 fix this issue or is there still more to do?

[2016-09-16 00:31] KyleW commented on #145
Oh nice. you were already on it. At a quick glance, the answer is probably. I'm headed home shortly and will take a look.

sorry for the dupe issue.

[2016-09-16 04:21] #112 closed

[2016-09-16 04:26] #145 closed

[2016-09-16 05:34] #108 closed

[2016-09-16 05:54] jnmarcus commented on #58
Mockups have been updated (v.16).  I think this closes this issue for now...

[2016-09-16 05:54] #58 closed

[2016-09-16 05:59] jnmarcus opened #148 "Move Measure Summary Page into Referendum Page"
[Invision desktop](https://projects.invisionapp.com/share/TK8O67TEZ#/screens/190014315)

Implement a two-column layout for the referendum page on desktop. Mobile retains the summary on a [separate page](https://projects.invisionapp.com/share/G58NM4GSR#/screens/190020313).

![screenshot from 2016-09-28 22-17-46](https://cloud.githubusercontent.com/assets/509703/18941858/6e37550a-85c9-11e6-9348-4f9f

[2016-09-16 06:03] jnmarcus opened #149 "Fix breadcrumb bug on locale pages"
Introduced in #146. More details to come.

[2016-09-16 06:08] jnmarcus opened #150 "Update footer based on updated mocks"
Updates should include:
- Mobile Design
- Desktop Design

v.16 of @elinaru 's mocks can be found here: https://github.com/caciviclab/caciviclab.github.io/issues/14

Related to #43

[2016-09-16 06:18] jnmarcus opened #151 "Update homepage based on updated mocks"
Based on updated mocks (v.16): https://github.com/caciviclab/caciviclab.github.io/issues/14

- [ ] Add links to city pages from homepage
- [x] Add copy
- [x] Add background image
- [x] Include mobile and desktop designs

Related to #86

[2016-09-16 06:22] jnmarcus opened #152 "Update Navbar based on updated mocks"
updated mocks (v.16): https://github.com/caciviclab/caciviclab.github.io/issues/14

Related to #9 and #101

[2016-09-16 06:27] jnmarcus opened #153 "Add list of supporting contests/races to the committee page"
[Invision desktop](https://projects.invisionapp.com/share/TK8O67TEZ#/screens/190014307)
[Invision mobile](https://projects.invisionapp.com/share/G58NM4GSR#/screens/190020312)
- [ ] https://github.com/caciviclab/disclosure-backend-static/issues/25 endpoint for the contest data

For this page, we will only have the 2016 contest list. The [contributions data](https://github.com/caciviclab/disclosure-

[2016-09-16 06:27] jnmarcus opened #154 "Add Candidate Page"

[2016-09-16 06:33] jnmarcus opened #155 "Part 2: Add Office and Referendum Pages"
Finish TODOs listed in #147

note: based on updated designs (v.16) https://github.com/caciviclab/caciviclab.github.io/issues/14

[2016-09-16 06:35] jnmarcus commented on #155
Related to #112

[2016-09-17 18:15] adborden commented on #47
@KyleW can you comment on this? I think this is effectively done or no longer relevant. I believe this corresponds to the committee page you called out in the OD spreadsheet and is completed by https://github.com/caciviclab/disclosure-frontend/pull/147

[2016-09-17 18:17] adborden commented on #62
Ping @KyleW @jnmarcus, can you comment on this? I believe this was done a while ago and has since been refactored even further. I think we can close this now?

[2016-09-17 18:51] KyleW commented on #62
Yeah, I think this is done. I'm going to close it. If I'm wrong, we can reopen later.

[2016-09-17 18:51] #62 closed

[2016-09-17 18:58] KyleW commented on #47
I think I was wrong in the spreadsheet. I'll double check, but I believe the final 3 pieces are the candidates page, the committee page and the contributors page. Basically the 3 pages deepest into the flow. The components exist. They just need to be stitched together.

[2016-09-17 19:05] adborden commented on #13
:thumbsup: I'm going to un-assign you to help communicate who is working on what.

[2016-09-17 19:11] adborden commented on #47
:thumbsup: is someone working on this? Can we assign someone? I'm leaving this as "in progress" unless no one is actually working on it.

[2016-09-17 19:32] adborden commented on #21
@sseiter can you confirm that all these "disclaimer" related issues are required before the PEC meeting? (I believe they are).

[2016-09-17 20:14] adborden commented on #47
On second thought I'm going to move this to Ready, it's not really "in progress" if no one is owning it. (and I have a hunch that someone is, just not sure who).

[2016-09-17 23:55] KyleW commented on #154
I'll make this a priority and try have something done by Monday. However, it's going to have to be with mock data for now since there's no endpoint.

[2016-09-22 05:17] adborden commented on #155
Copying todo's from #147
- [ ] Add supporting and opposing charts to Referendum page (related to #112 and #144)
- [ ] Get dollarAmount for Office page
- [ ] Finish styling
- [ ] Review layout and desktop/mobile functionality with @elinaru and rest of team (although this may be better to do in a separate pull request)
- [ ] Review Office page functionality / layout with @elinaru and team (also coul

[2016-09-22 05:18] adborden commented on #155
@KyleW I think the above are all done, or are better tracked in our UI hit list. Think we can close this?

[2016-09-22 05:20] adborden commented on #154
Completed by https://github.com/caciviclab/disclosure-frontend/pull/156

[2016-09-22 05:20] #154 closed

[2016-09-23 05:24] adborden commented on #5
Closing this, we don't need the mayoral candidates right now.

[2016-09-23 05:24] #5 closed

[2016-09-23 14:19] adborden commented on #47
I updated the description here. We're not looking for a placeholder page anymore, we can start building the entire thing. We might want to break this story up, or at least ship it in multiple pull requests. So we can get some basic functionality out first, then the advanced stuff. We can also get this on committee pages first, then candidate pages.

I removed the `ready` label because I would like

[2016-09-23 14:21] adborden commented on #21
I believe @sfdoran might also be working on this?

[2016-09-23 14:41] adborden opened #162 "Add committee contributors component to the candidate page"
[Invision desktop](https://projects.invisionapp.com/share/TK8O67TEZ#/screens/190014311)
[Invision mobile](https://projects.invisionapp.com/share/G58NM4GSR#/screens/190020311)

https://github.com/caciviclab/disclosure-frontend/issues/47 builds a new contributors to committee component. The component should be added for the candidate page.

- [x] https://github.com/caciviclab/disclosure-backend-stat

[2016-09-23 14:46] adborden opened #163 "Rounding errors in percentages"
This adds up to 101% http://disclosure.caciviclab.org/#!/city/2/oakland/candidate/1

![screenshot from 2016-09-23 07-46-17](https://cloud.githubusercontent.com/assets/509703/18789974/d795488e-8161-11e6-853d-5afe1cc1f988.png)

[2016-09-23 14:50] adborden commented on #163
Not sure if this is related
Candidate contributions expected to total to 100%
http://disclosure.caciviclab.org/#!/city/2/oakland/candidate/10

Possible our `max` is incorrect or the total from the backend is coming in wrong.

![screenshot from 2016-09-23 07-48-29](https://cloud.githubusercontent.com/assets/509703/18790049/277774c6-8162-11e6-9f4d-75186676e97c.png)

[2016-09-23 14:56] adborden commented on #153
@KyleW I just updated the description, does it match the work you're doing?

[2016-09-23 15:08] adborden opened #164 "Include candidate details on candidate page"
[Invision desktop](https://projects.invisionapp.com/share/TK8O67TEZ#/screens/190014312)
[Invision mobile](https://projects.invisionapp.com/share/G58NM4GSR#/screens/190020310)

These fields exist, they should be added to the candidate page

[code]

[2016-09-23 15:13] adborden opened #165 "Content for the ODCA About page"
http://disclosure.caciviclab.org/#!/about

@elinaru should we be using content from the mockups for this?

[2016-09-23 15:14] adborden opened #166 "Update the about page with updated content"
- [ ] https://github.com/caciviclab/disclosure-frontend/issues/165 content
- [ ] Update the top nav to include About link

[2016-09-23 15:17] sfdoran commented on #21
@adborden There are entries in the text we've been working on under "FAQ" here: https://docs.google.com/document/d/14jrPU4leMUYtqgRZNhhU4Bi0552E3b9ZNrEwOUQ6e7c/edit?usp=sharing

[2016-09-23 15:19] adborden commented on #8
Adding @sfdoran here. There is a new draft in progress https://docs.google.com/document/d/1D3MsBqoGi5j_ffhpBsw88S5jhgIFI3i02m93ny1u3aI/edit

[2016-09-23 15:25] adborden opened #167 "Update content for FAQ page"
FAQ page exists here https://github.com/caciviclab/disclosure-frontend/blob/master/app/components/appMainModule/faqPageModule/faqPage.html

- [ ] #8 content for FAQ

[2016-09-23 15:27] adborden commented on #167
Implementation note: Because this is a content heavy page, I would prefer to avoid handling the question/answer in angular. The content is not simply text but also includes links and tables so markup is ideal here. Instead, just dump all of the content in html. This would also help our copywriters do minor edits. This is just my opinion.

[2016-09-23 15:34] adborden opened #168 "UI fix list"
There were a handful of items that came out of our UI review. If anything is more than a small chunk of work, please move it into it's own story.

## Candidate page

- [x] No “+” on loans row.

## Candidate listing for office page

- [x] Add anon photo for missing photos.
- [x] Candidates should be sorted by most contributions.
- [x] Add an “Incumbent” identifier to the incumbent candidate.
- [x]

[2016-09-23 15:37] adborden opened #169 "Money bar style tweaks"
From the UI review, we had these notes on the money bar:

Money bar (use disclosure fork style), text white for contrast on the inside. For small percentages, it should show outside the money-bar, with a dark text color.

cc @elinaru

[2016-09-23 15:38] adborden commented on #169
@KyleW I'm thinking this is a little tricky to do properly, specifically the flipping of the numbers from inside to outside. Do you have a rough idea on how to do this? I'm thinking we should leave this out.

[2016-09-24 16:02] adborden commented on #69
This is fixed by the new footer design.

[2016-09-24 16:04] adborden commented on #86
We are looking good on desktop https://projects.invisionapp.com/share/TK8O67TEZ#/screens/190014301

I think we can close this, right @elinaru ?

[2016-09-25 00:25] adborden opened #170 "Configure candidate photos on S3 with cache-control headers"
Candidate photos are fetched by the browser on every request. We should set the cache-control headers so browsers will cache photos locally.

[2016-09-25 03:33] adborden opened #171 "Implement error messaging for the user when something goes wrong"
There's two places to insert errorhandling, on state change error, and the global error handler. In the event of a state change error, we can display an error page. In the event of the global error handler, a flash message is probably best.

[2016-09-25 03:34] adborden opened #172 "404 page"
[Invision desktop](https://projects.invisionapp.com/share/TK8O67TEZ#/screens/190014304)

Add a route handler for 404 pages.

[2016-09-25 03:37] adborden opened #173 "Loading indicator"
[Invision desktop](https://projects.invisionapp.com/share/TK8O67TEZ#/screens/190014305)

As we're loading data in order to render the page, we should show a loading indicator so the user understands that the page is loading. To avoid a jarring effect, I think it would be good to show the loading indicator for at least 1 second.. showing it for less kind of defeats the purpose I think.

Implementat

[2016-09-25 03:45] adborden opened #174 "Too much line height on expenditure labels"
![screenshot from 2016-09-24 20-43-59](https://cloud.githubusercontent.com/assets/509703/18812882/b5a6fa38-8297-11e6-82c5-f93bd8ccdb8f.png)

http://localhost:5000/#!/city/2//candidate/8
A little too much lineheight when the label wraps.

[2016-09-25 04:40] adborden opened #178 "Disclaimer notices"
What disclaimers are needed on the site?

Is it enough to have just the FAQ page? Should we be linking to the FAQ in specific places on the site?

[2016-09-25 04:55] adborden opened #179 "Candidate photos are slow to load"
Especially on mobile, the candidate photos are slow to load. Some of them are Megabytes:

[code]

@elinaru do you think you can optimize them further?

If not, maybe we should consider a thumbnail version for mobile.

[2016-09-25 04:57] adborden opened #180 "Rename Example page to Styleguide"
I think the purpose of the Example page it to provide a gallery of the available patterns and UI components along with their HTML markup. In that case, I think "Styleguide" is a more standard term in the industry.

[2016-09-25 04:59] adborden opened #181 "Disable animations on small screens"
Mobile devices are already short on resources, no need for that extra sugar provided by animations.

[2016-09-25 04:59] adborden opened #182 "Fix "Oakland" not showing up in breadcrumbs properly"

[2016-09-25 05:01] adborden opened #183 "Move app to opendisclosure.io"
- [ ] #178 Disclaimer notices
- [x] Change CNAME for disclosure-frontend
- [x] Point opendisclosure.io DNS to github's IP

[2016-09-25 05:01] adborden commented on #183
@tdooner anything you want to add to this one? We have the go-ahead from @sfdoran and I'd rather get this done sooner than later.

[2016-09-25 15:19] adborden commented on #182
This is related, breadcrumbs are using the last scope in the state chain to render the label, so `controllerAs` syntax doesn't work. Also, because we are using directives with isolated scope, when a state sets the breadcrumb parameters, these parameters don't get inherited to child scopes.

https://github.com/ncuillery/angular-breadcrumb/issues/102

[2016-09-25 20:03] adborden commented on #182
After digging into this a bit more, I've come up with a hacky fix. I think the real solution is to replace `angular-breadcrumb` with something else. I don't think it means our use case because it depends on state getting inherited through the scopes. We've explicitly avoided scope inheritance by using `controllerAs` syntax and directives with isolate scope.

[2016-09-25 22:02] adborden opened #187 "Page banner to warn users when we are aware of a data correctness issue"
In the event someone points out an issue with the data, we'd like to put up a banner/other disclaimer letting the user know we're aware of an issue with the correctness of the data and are working on it. This doesn't need to be an overwhelming UI, but just something to show we're doing our due diligence.

Would be nice if we could also include a short description of the issue, so folks can still u

[2016-09-25 23:19] sfdoran commented on #178
@adborden I'm thinking we use some of the text from the FAQ in the About text and the home page. I'll review Monday and make some suggestions.

[2016-09-25 23:38] KyleW commented on #153
@adborden - I think the description is wrong. Don't we want to show contributors on this page and not the other elections the committee has contributed to? Won't most committees just have contributed to a single campaign in 2016?

[2016-09-26 03:54] #168 closed

[2016-09-26 04:02] #182 closed

[2016-09-26 05:34] adborden commented on #151
Fixed by https://github.com/caciviclab/disclosure-frontend/pull/161 left out the city links since we're only supporting Oakland for now.

[2016-09-26 05:35] #151 closed

[2016-09-26 05:35] #86 closed

[2016-09-26 05:36] adborden commented on #150
Fixed by https://github.com/caciviclab/disclosure-frontend/pull/161

[2016-09-26 05:37] #150 closed

[2016-09-26 05:38] adborden commented on #69
Fixed by https://github.com/caciviclab/disclosure-frontend/pull/161

[2016-09-26 05:39] #69 closed

[2016-09-26 05:52] adborden commented on #153
Hrmm, I'm not sure I understand, I think we eventually want to show both contributors to the committee _and_ elections/contests the committee has contributed to on this page. This story is for the former, the elections/contests and https://github.com/caciviclab/disclosure-frontend/issues/47 tracks adding the contributors to the page. Does that make sense?

And yes, to your question, Oakland seems

[2016-09-26 05:59] adborden commented on #153
Ah, I'm mistaken, there is at least one case where a committee is contributing on behalf of multiple school board elections https://github.com/caciviclab/disclosure-backend-static/issues/25#issuecomment-247824002

[2016-09-26 06:17] adborden opened #189 "Re-enable minification"
Let's enable minification for production builds to get smaller bundles.

- [ ] enable `ng-strict-di` https://docs.angularjs.org/api/ng/directive/ngApp#!
- [ ] enable minification for produciton builds only
- [ ] make sure source maps are shipped to production

[2016-09-26 19:40] sfdoran commented on #165
@elinaru Hope you don't mind I got something started based on the 2014 text with update on ODCA and characterizing this as beta-version with Oakland data.
https://docs.google.com/document/d/1OlIgIlY0bXbzgqIYmlNsz7aJ9_Kz7SzLbIJTdAyNGNg/edit

[2016-09-28 02:35] adborden opened #191 "Candidate page should have breadcrumb to office eleciton listing"
http://disclosure.caciviclab.org/#!/city/2/oakland/candidate/2

The breadcrumb should be `Home > Oakland > City Council At-Large > Rebecca Kaplan`
![screenshot from 2016-09-27 19-33-24](https://cloud.githubusercontent.com/assets/509703/18898866/4d9f5bde-84e9-11e6-8ec8-98f81f048c9b.png)

[2016-09-28 02:41] adborden opened #192 "Nancy Sidebotham's website is unavailable"
Should we remove it from the site?
http://nancysidebotham.com/
http://disclosure.caciviclab.org/#!/city/2/oakland/candidate/4

[2016-09-28 03:58] adborden opened #194 "Favicon"
Would be nice to have a favicon for Open Disclsoure California.

[2016-09-28 15:29] adborden commented on #183
Woot! http://www.opendisclosure.io/#!/

[2016-09-28 15:29] #183 closed

[2016-09-28 15:32] adborden commented on #47
@KyleW sounds like you're working on this?

[2016-09-28 15:35] adborden commented on #155
ping @KyleW

[2016-09-28 15:44] adborden commented on #174
This is no longer an issue.

[2016-09-28 15:44] #174 closed

[2016-09-28 16:18] KyleW commented on #155
Yup. Closing.

[2016-09-28 16:18] #155 closed

[2016-09-28 16:20] KyleW commented on #47
yes. This is actually the only committee component the backend expects to support. It should replace the other committee page tickets.

[2016-09-29 05:19] adborden commented on #148
Updated description.

[2016-09-29 05:55] adborden opened #197 "How to integrate contextual campaign finance information in ODCA"
How can we improve on the FAQ?  Is it possible to give the user additional cotextual information about what they're looking at without dropping them in an FAQ? I think @tdooner really [sums it up here](https://github.com/caciviclab/disclosure-frontend/issues/8#issuecomment-145132949).

I'm including some screenshots from the FEC site to illustrate one direction we can take this.

--
https://beta.f

[2016-09-29 06:33] adborden opened #199 "Add Google Analytics"
@tdooner should we use the existing GA account from the 2014 Open Disclosure site?

[2016-09-29 16:00] adborden opened #200 "Minus character on the money bar has inconsistent color"
Depending on the browser/OS I've seen the minus character colored incorrectly on the math bar. Originally I thought this was an issue with using unicode in pseudo elements but we're now using HTML entities and still see the problem.

_will include a screenshots of the incorrect behavior later_

Expected behavior:
![screenshot from 2016-09-29 08-58-05](https://cloud.githubusercontent.com/assets/509

[2016-09-29 17:38] #8 closed

[2016-09-29 17:38] #9 closed

[2016-09-29 17:38] #21 closed

[2016-09-29 17:38] #101 closed

[2016-09-29 17:38] #166 closed

[2016-09-29 17:38] #167 closed

[2016-09-29 17:39] #163 closed

[2016-09-29 17:39] #149 closed

[2016-09-30 01:56] tdooner opened #202 "Add "spent" and "raised" labels for ballot measure numbers"
The numbers are inconsistent due to the discrepancy in how we calculate the contributions vs expenditures.

[2016-09-30 03:28] adborden opened #203 "Content for the homepage"
We had talked about pulling in some of the "About us" content for the homepage.

[2016-09-30 03:31] adborden commented on #202
@tdooner this is related to this page, right? http://www.opendisclosure.io/#!/city/2/oakland/2016/referendum/1/sugar-sweetened-beveragetax/supporting

![screenshot from 2016-09-29 20-29-20](https://cloud.githubusercontent.com/assets/509703/18979853/7082f9da-8683-11e6-91b3-2098b3948947.png)

So the committee list is referring to expenditures and the sum total is referring to contributions, right?

[2016-09-30 03:48] adborden commented on #169
moving out to v2

[2016-09-30 03:55] adborden commented on #165
@elinaru incorporated the content into this draft https://docs.google.com/document/d/1kNFEu-sMsBVaAf6BZAquJhJDWeFMrp56dKJsHjN_3rc/edit#

[2016-09-30 03:56] adborden commented on #165
Content is now live, :tada: http://www.opendisclosure.io/#!/about

[2016-09-30 03:56] #165 closed

[2016-09-30 04:19] adborden opened #205 "Auto-generate a Table of Contents for the FAQ page"
On render time, we create anchor tags for all the headers. Would be cool to also generate a TOC for the page.

[2016-09-30 05:50] elinaru commented on #197
I think the fly-in definitions look-up panel is more than we should tackle right. Inline help tool tips would be more doable. Going to put together a quick mock-up.

[2016-09-30 05:53] elinaru commented on #194
I think this on can wait until post-PEC presentation.

[2016-09-30 06:11] adborden opened #207 "Review font scale and headings"
I think the font sizes that we're using are inconsistent with the mockups. Would be great to review them with @elinaru to make sure we're using the right font sizes. While we're at it, we should also look at the heading colors to make sure we're using the correct greys.

[2016-09-30 06:11] elinaru commented on #179
We're not using those larger images. They're in the folder because Phil has some sort of back-up thing happening where I can't delete them.

[2016-09-30 06:44] elinaru commented on #23
Currently, we've added a citation to the whole candidate bio at the bottom.
For instance,  "Source: Candidate Statement and survey" Does everyone think this is adequate?

[2016-09-30 06:51] elinaru commented on #192
No, she listed it as her campaign site, so we should include it. It appears to be back up, in any case.

[2016-09-30 06:53] elinaru opened #208 "Add twitter bird icon in front of candidate twitter handles"
This guy please: http://fontawesome.io/icon/twitter/

[2016-09-30 16:18] #192 closed

[2016-10-01 01:08] elinaru commented on #191
I think the thinking behind having a candidate (i.e. Kaplan) at the Oakland level was to create a structure that allowed for a holistic view of a candidate who may run for an office multiple times or run for multiple offices. So, at some point, Kaplan, for example, might be elected council-member at large several times—and each time she ran would have a separate committee for that election—and the

[2016-10-01 01:21] elinaru commented on #187
See banner in mock-up here: https://invis.io/J48NM1DH2#/190014312_Desktop-Candidate-5-LocalList-Details

[2016-10-01 01:22] elinaru commented on #197
Mock-up showing inline help tool tip with link tog FAQ is here: https://invis.io/J48NM1DH2#/190014312_Desktop-Candidate-5-LocalList-Details

[2016-10-03 00:05] KyleW opened #210 "Add pagination to grid on committee page"

[2016-10-03 00:06] KyleW opened #211 "Committee Page: Resize grid columns"
On the committee page when the browser window is resized, resize the columns in the grid to fit on the page.

[2016-10-03 00:07] #202 closed

[2016-10-05 02:53] adborden commented on #200
Fixed by https://github.com/caciviclab/disclosure-frontend/pull/213

[2016-10-05 02:53] #200 closed

[2016-10-05 02:53] KyleW commented on #199
Does anyone have the ga account credentials?

[2016-10-05 02:56] KyleW commented on #180
I thought it was just for development when we didn't have a backend?

[2016-10-05 03:01] KyleW commented on #152
@adborden I think this is done. Can we close it?

[2016-10-05 03:08] KyleW commented on #110
Closing this since I think it's no longer relevant.

[2016-10-05 03:08] #110 closed

[2016-10-05 03:09] KyleW commented on #47
Closed by #209 .

[2016-10-05 03:09] #47 closed

[2016-10-05 03:13] KyleW commented on #132
I think this is redundant with #153  and others.

[2016-10-05 03:13] #132 closed

[2016-10-05 03:46] KyleW opened #215 "Our JS bundle is 5.5mb! Let's make it smaller"
It gzip's down to 1.4mb, but still . . . .

[2016-10-05 04:10] KyleW opened #216 "Contributions are missing firstnames"
Add Tran_NamF to the ag-grid.

[2016-10-05 04:19] adborden opened #217 ""Join us" link is jarring"
"Join us" link goes to CA Civic Lab's description of [Open Disclosure](http://caciviclab.org/opendisclosure/), which doesn't have any of our braning and is fairly confusing to the user who doesn't know what CA Civic Lab is.

Content is also very different from the [about](http://www.opendisclosure.io/#!/about) page so it's unclear who controls the site.

_This was feedback from @sfdoran 's staff w

[2016-10-05 04:36] adborden commented on #215
:+1: Just to clarify, there's something fishy going on in our bundle. There's a separate issue to add minification which will also keep the size down https://github.com/caciviclab/disclosure-frontend/issues/189

[2016-10-05 04:53] tdooner commented on #199
Here's the embed code:

[code]

[2016-10-05 16:12] KyleW commented on #199
Sweet. Thanks.

[2016-10-05 16:15] KyleW commented on #173
The easiest way to do this is to just drop angular-sham-spinner or some similar module into the project. Not as configurable, but gets the job done.

[2016-10-05 22:02] tdooner commented on #199
🆒 Also, you should still have access from last time. Let me know if you've changed your email or need another invite or something.

[2016-10-05 22:04] KyleW commented on #199
Yeah, I've still got it. Looks like I could have solved this problem
myself. Sorry about the noise.

On Wed, Oct 5, 2016 at 3:02 PM Tom Dooner <notifications@github.com> wrote:

[2016-10-06 03:57] adborden commented on #153
Updating the name since this would be adding the list of contests to the committee page.

[2016-10-06 04:15] adborden commented on #152
I left this open to address the styles. Content is already updated. I just fixed the description.

[2016-10-06 04:21] adborden commented on #180
Hmmm, I guess. I was just building out pages and stubbing data at the API layer when the backend wasn't ready. Either way, I think it's useful to have a styleguide page or a pattern library page. I've seen these in other projects and I think they provide a lot of value. They can help us catch visual regressions without spending a ton of time investing in tooling. They also help to consolidate patt

[2016-10-06 04:26] adborden commented on #211
Sounds worth doing sooner rather than later, adding to v2.

[2016-10-06 04:32] adborden commented on #210
My gut is that this isn't so important.. As of now, the most contributions for a single committee is 580. The second is 230. This will grow as we get closer to the election, but I feel like it's not for v2, what do you think?

[2016-10-07 14:53] #199 closed

[2016-10-07 15:08] KyleW commented on #180
Turning this into a styleguide would be cool. Maybe that was the original
intent here.

On Wed, Oct 5, 2016 at 9:21 PM, Aaron D Borden <notifications@github.com>
wrote:

[2016-10-07 15:09] KyleW commented on #210
I think punting on this for now is fine since we've only got one grid and
it's on a separate page. If we ever try to breakout contributions by type
like in the mock and show multiple grids on the same page, we'll need to
revisit.

On Wed, Oct 5, 2016 at 9:32 PM, Aaron D Borden <notifications@github.com>
wrote:

[2016-10-08 01:40] #162 closed

[2016-10-08 02:27] adborden commented on #197
@elinaru thanks, looks great.

@sfdoran would you please identify terms and places where additional context text and tooltips might be needed?

[2016-10-08 02:54] adborden opened #222 "Display "content last updated" date"
[Invision desktop](https://projects.invisionapp.com/share/TK8O67TEZ#/screens/190014309)
[Invision mobile](https://projects.invisionapp.com/share/G58NM4GSR#/screens/190020308)

Add a note about when the data was last updated so that folks have an idea how up-to-date the data is that they're looking at. This timestamp will come from the backend.

- [x] https://github.com/caciviclab/disclosure-backen

[2016-10-08 02:59] adborden commented on #216
:+1: Fixed by https://github.com/caciviclab/disclosure-frontend/issues/218

[2016-10-08 02:59] #216 closed

[2016-10-08 03:17] adborden commented on #171
Aww fooey, forgot we don't have design for this. @elinaru I'm going to base the implementation off of the messaging we're using for the data correctness alert in #187 Hope that's okay for the short term since we should add this feature asap.

![screenshot from 2016-10-07 20-11-37](https://cloud.githubusercontent.com/assets/509703/19209952/5ceacefa-8cca-11e6-8f39-3bbc89bcb579.png)

[2016-10-08 07:54] adborden opened #224 "Add user voice to site"
I believe this was done for the 2014 site and folks wanted it for the new site.

[2016-10-08 15:40] adborden commented on #191
:+1: I'm going to remove the `ready` label for now. For v2, do we want to do something interim, like add the office election breadcrumb, or do we punt and change this story description to implement the desired behavior?

[2016-10-08 15:59] adborden commented on #87
The items in the list are complete, and the "more details" link doesn't exist anymore, so closing this.

[2016-10-08 15:59] #87 closed

[2016-10-08 16:06] adborden opened #225 "Sources in candidate bio are long and unclickable"
http://www.opendisclosure.io/#!/city/2/oakland/candidate/16

Ideally, we would put the sources in a separate column of the spreadsheet so that we can render them differently than the bio. Right now it's not easy to pull them out and render them separately.

In Donald's case, it causes a gutter on the right-side.

![screenshot from 2016-10-08 09-03-04](https://cloud.githubusercontent.com/assets/509

[2016-10-08 16:12] adborden opened #226 ""User supplied" text should have a special class for controlling line breaks"
On the FAQ page we're using "user supplied" text, i.e. text curated by our campaign finance experts and we have less control over how that renders. On the FAQ page, this long "word/word" heading causes a gutter on the right.

I think there are two parts to the solution:
- Broad solution is break aggressively to avoid the gutter problem and unfortunately could make the text break mid-word
- A speci

[2016-10-08 16:27] adborden opened #228 "Padding and grid inconsistencies"
Opening this issue to collect the locations where the grid is off, often because of extra padding.

- [ ] `.divided-section` should not have left/right padding
- [ ] `.localePage-electionTypePageContainer` has extra left/right padding
- [ ] `.odca-linkListItem-link` has custom left padding which looks slightly off from the grid.
- [ ] `.odca-linkListItem-innerContainer` has left margin, which I th

[2016-10-11 05:54] elinaru opened #229 "Contributor tables on mobile display excessively truncates and obscures data"
Here are the tables on my phone:
![screenshot_2016-10-10-22-25-39](https://cloud.githubusercontent.com/assets/6467815/19259786/7c1c9242-8f39-11e6-8778-8d9f8f312c75.png)
![screenshot_2016-10-05-09-44-06](https://cloud.githubusercontent.com/assets/6467815/19259787/7c24e15e-8f39-11e6-9a06-cd8aad0ba063.png)

[2016-10-11 05:55] elinaru commented on #229
Can we add some min-widths to these columns and search bar?

[2016-10-11 06:00] elinaru opened #230 "Clicking on the table header cell three times seems to clear sort order and it disables “back” key command."
![3-clicks-bug](https://cloud.githubusercontent.com/assets/6467815/19260254/2f592aa2-8f3d-11e6-9996-57e252ea4932.gif)

[2016-10-11 15:07] KyleW commented on #229
We can and that's probably the easiest fix, but just to be clear that's going to make the grid wider than the screen. It won't cause cells to wrap to the next row.

[2016-10-11 15:09] KyleW commented on #230
The triple click -yeah, that's just the default behavior that comes with the grid we chose. I'll see if we can disable that third click, but we may be stuck with it.

And what's this about the back button?

[2016-10-12 04:06] mikeubell opened #231 "Add expenditures opposing candidates"
The backend is now providing opposing_money for candidates and a list of opposing money for committees.
The front end should display this.

[2016-10-12 06:42] adborden commented on #231
The backend work is implemented in https://github.com/caciviclab/disclosure-backend-static/pull/60 (not yet merged).

This shows up as a single number
[code]

@elinaru not sure if there was a mockup for this that we cut. Here are some similar screens we could base this on
![screenshot from 2016-10-11 23-41-05](https://cloud.githubusercontent.com/assets/509703/19299972/4c1fe6ba-900c-11e6-8549-839da

[2016-10-12 13:30] mikeubell commented on #231
Not sure where that number comes from.  The new code calculates opposing money for each candidate and a list of money spent against them.

[2016-10-18 05:36] #222 closed

[2016-10-26 16:34] KyleW commented on #229
Mostly closed by #233. There's still some funkiness in the way the border shows up on the header row, but the basic usability problem is solved. I'll find some other place to note the display bug.

[2016-10-26 16:34] #229 closed

[2016-11-01 04:15] KyleW commented on #231
@mikeubell  I don't see the list of contributors in the main candidate response. Is there a different filer id that corresponds to contributions opposing a candidate?

[2016-11-01 15:42] mikeubell commented on #231
There is a list of expenditures by opposing organizations off of the committee.  In the case of Kalb its here: build/committee/1382408/opposing/index.json

Not sure what the end point is in the server

[2016-11-02 03:06] #231 closed

[2016-11-07 18:48] sfdoran opened #236 "Feedback: a question on data correctness"
Missing data for contributions and expenditures against Measure KK.

Found "Coalition to Improve Oakland Government - NO on Measure KK sponsored by Oakland small business and property owners, home owners and renters" filer id 1391606 and added to google sheet.

It's a general purpose recipient committee.

NetFile shows contributions on 10/27 pre-election 460 Schedule A and $10,724 expenditures on

[2016-11-07 19:13] tdooner commented on #236
@sfdoran If I understand correctly, you just added the filer to the google sheet, so it should just take a re-run of the processing to show them? I'll make sure to get this when I go home tonight.

[2016-11-07 19:15] mikeubell commented on #236
I might be able to look.  I’m doing tech support at the Hillary phone bank so it might not happen.  Perhaps we just need to do a new build?  Tom can you try that?

[2016-11-07 19:15] mikeubell commented on #236
Ah great minds think alike.

[2016-11-07 19:28] tdooner commented on #236
Okay, I re-ran the data (locally -- I can't deploy it until I get home tonight) and it came up with this diff:

[code]

Glad that it aligns with Suzanne's calculations on the first go. I'll push this to the site ASAP when I get home tonight.

[2016-11-07 21:41] sfdoran commented on #236
I looked up this filer's 460 and it did indicate opposition to KK - I am following up with the City Clerk and NetFile to find out why it doesn't show up that way in our data.

[2016-12-14 03:12] adborden commented on #236
@sfdoran is this still an issue?

[2016-12-14 03:26] adborden opened #238 "Reduce column width on home page"
From the first round of usability testing. https://docs.google.com/document/d/1YRlgHC-Venn5oaTY7jrk42OJfabM8171EykkcHC1EQE/edit#

Maybe 80 rem?

cc @elinaru

[2016-12-14 03:28] adborden opened #239 "Increase contrast with backround hero on landing page"
From the first round of usability testing. https://docs.google.com/document/d/1YRlgHC-Venn5oaTY7jrk42OJfabM8171EykkcHC1EQE/edit#

cc @elinaru

[2016-12-14 03:31] adborden commented on #203
From the usability test, we still want to add some content here.

@sfdoran @elinaru Should we just pull in the about text or is there something more relavant?

[2016-12-14 03:31] adborden commented on #203
https://docs.google.com/document/d/1YRlgHC-Venn5oaTY7jrk42OJfabM8171EykkcHC1EQE/edit#

[2016-12-14 03:38] adborden commented on #148
Added a note about adjusting the maximum for side-by-side visualizations as per the usbaility test https://docs.google.com/document/d/1YRlgHC-Venn5oaTY7jrk42OJfabM8171EykkcHC1EQE/edit#

[2017-01-04 04:01] adborden opened #240 "Placeholder for missing jurisdictions"
From the usability tesing https://docs.google.com/document/d/1YRlgHC-Venn5oaTY7jrk42OJfabM8171EykkcHC1EQE/edit

Users were confused that not all districts were visible.
![screenshot from 2017-01-03 19-57-39](https://cloud.githubusercontent.com/assets/509703/21631379/624c4da0-d1ef-11e6-8361-f76d071c3b82.png)

Suggestions:

[2017-01-04 04:02] adborden commented on #240
@elinaru do you have any ideas here?

[2017-01-04 04:06] adborden opened #241 "Add a citation for ballot/candidate description"
From the usability report https://docs.google.com/document/d/1YRlgHC-Venn5oaTY7jrk42OJfabM8171EykkcHC1EQE/edit#

Users were concerned about where this data is coming from. We could add some kind of citations to the ballot and candidate description.

[2017-01-04 04:48] adborden commented on #241
@sfdoran @elinaru thoughts?

[2017-01-04 04:50] adborden opened #242 "Draft content for landing page to better express the value and features of Open Disclosure"
From the usability report https://docs.google.com/document/d/1YRlgHC-Venn5oaTY7jrk42OJfabM8171EykkcHC1EQE/edit#

[2017-01-04 04:54] adborden opened #243 "Provide links to official PEC content for ballot measures"
From the usability report https://docs.google.com/document/d/1YRlgHC-Venn5oaTY7jrk42OJfabM8171EykkcHC1EQE/edit#

Let's provide official links to PEC content on ballot measures so that users can answer questions about how this ballot measure got on the ballot and more contextual information.

[2017-01-06 16:23] adborden commented on #236
Closing, we can re-open if needed.

[2017-01-06 16:23] #236 closed

[2017-01-18 04:25] adborden opened #246 "James Harris showing $114,769 Not Stated but Expenses shows only $17,322"
![screenshot from 2017-01-17 20-22-10](https://cloud.githubusercontent.com/assets/509703/22050784/adbcde5e-dcf2-11e6-874f-deb00b12eb4c.png)
![screenshot from 2017-01-17 20-21-59](https://cloud.githubusercontent.com/assets/509703/22050785/b2a4ee52-dcf2-11e6-9645-86be64c62e43.png)

cc @sfdoran

[2017-04-26 02:43] elinaru opened #247 "Display candidate endorsements"
This idea was proposed by Leila Pedersen (Engagement Manager at New America CA) after the ODCA demo at TEQ Week. She said she used our tool while researching candidates before voting (woot!), but also valued official endorsements when deciding. She offered to partner to discuss how endorsements could be collected.

[2017-04-28 23:40] sfdoran commented on #246
This looks to me like the independent expenditures reported by FAMILIES AND EDUCATORS FOR PUBLIC EDUCATION, SPONSORED BY GO PUBLIC SCHOOLS ADVOCATES. They reported $153,309.51 spent in support of Harris, mostly in independent expenditures. Approx $114K was reported on Form 496s (Late Independent Expenditures). "Expn_Dscr" shows the description in the Form 496 data.

You can see the same pattern wi

[2017-05-08 00:02] mikeubell commented on #246
@tdooner Why are we including 497 information as expenditures for candidates as this form (p2) only records contributions?  So this would be a contribution from IEC to a candidate not an expenditure for or by the candidate. @sfdoran do I have this right?

[2017-05-20 18:31] mikeubell commented on #246
This is fixed in the backend now.  we have separated out IEC supporting actions into "supporting_by_type" which should be displayed separately.  Also fixed the missing "opposing_by_type" data which needs to be displayed.

[2017-06-07 00:58] adborden commented on #189
@KyleW would you mind updating this with what you think is left? I think we want to add a line to review [these third-party libraries](https://github.com/caciviclab/disclosure-frontend/pull/248#discussion_r120017808).

[2017-07-12 03:51] sfdoran opened #251 "Ballot measure contributions calculation looks off"
[document (17).pdf](https://github.com/caciviclab/disclosure-frontend/files/1140836/document.17.pdf)

@tdooner @mikeubell filing shows $10,745,941.73 total contributions - site shows $13,839,546.

http://www.opendisclosure.io/#!/city/2/oakland/2016/referendum/1/sugar-sweetened-beveragetax

[2017-07-12 19:41] mikeubell commented on #251
I see at least one duplicate contribution on the contributions page of 1,554,290.  Maybe we are not filtering 24hr reports properly.

[2017-07-13 22:24] mikeubell commented on #251
@sfdoran @tdooner This is really a backend issue.
I think this may be caused by descripancies in filings between the schedule 6 and the 497.  Here are the 497 records for Measure HH:
Filer_ID | Tran_Amt1 | Tran_NamF |  Tran_NamL   | Tran_Date  |  Tran_ID
----------+-----------+-----------+--------------+------------+------------
 1381041  |      1500 |           | CHEZ PANISSE | 2016-08-30 | NON27

[2017-07-13 22:35] sfdoran commented on #251
I will look into the amendment issue, but maybe we should think of another way to avoid the duplicates because even if they are required to file an amended 24-hour report if rely on that there will still be times when time lags cause the calculations on OD to be way off.

[2017-07-13 22:46] mikeubell commented on #251
I think we would have to change our way of invalidating the 24-hour report to do it by detecting a follow on A/C schedule that supersedes it, rather doing it by the contents of the record.  Or we can assume assume the format of the Trans_id is meaningful and try to parse it.

[2017-07-13 22:54] sfdoran commented on #251
I was thinking along those lines - not counting 24-reports if there is an 460 deadline after. That would also take care of another possible scenario - if a committee removes a transaction previously reported on Form 497, they do not amend the 497, they only correct the 460 or 461. So, that would be another time that our calculations would be off. FYI - same issues apply with 496 & 461 reporting.

[2017-07-13 23:07] mikeubell commented on #251
Its not just a deadline, but they have to have filed the form… I imagine folks are late sometimes.

[2017-07-13 23:53] sfdoran commented on #251
We are talking about total_contributions_calculator.rb, right? I will look and ponder...

[2017-07-14 00:09] mikeubell commented on #251
Actually we preprocess the database at load time.  It's in remove_duplicate_trahsactions.sh.

[2017-07-15 21:34] mikeubell commented on #251
@sfdoran I'm finding other data that is in 496 forms that our current scheme is not removing.  I can't seem to find anything corresponding in the subsequent Schedules A/B/C/D/E.  For example this for the measure G committee:
 Filer_ID |                  Enty_NamL                   |  Rpt_Date  | Rec_Type | Form_Type | Amount
----------+----------------------------------------------+------------+--

[2017-07-15 22:07] sfdoran commented on #251
I'll check it out and get back.

[2017-07-16 18:27] mikeubell commented on #251
There is also this one:
1381041  | COALITION FOR HEALTHY OAKLAND CHILDREN                                     | 2016-08-31 |    1500 | NON272       | CHEZ PANISSE
The amount is too high?, I am guessing rather than issuing a reversal transaction they just dropped it from the later Schedule A.  I don't see a txn from Chez Panisse on a Schedule A.

[2017-07-17 17:24] sfdoran commented on #251
I'll do the calculations on my end and let's talk at hack night.

[2017-07-17 17:39] sfdoran commented on #251
Okay. I'll share what I come up with here by hack night.

[2017-07-18 23:41] mikeubell commented on #251
I have moded his to disclosure-backend-static #73

[2017-07-18 23:42] mikeubell commented on #251
I have moved this to disclosure-backend-static-#73

[2017-07-18 23:42] #251 closed

[2017-07-26 02:34] mikeubell commented on #246
Fixed in backend

[2017-07-26 02:34] #246 closed

[2017-12-04 18:21] evanwolf opened #253 "After the Election: Past Tense switch"
When nextElectionDate is older than today, flip "Next election:" text to "Last election".
![image](https://user-images.githubusercontent.com/205622/33568534-949fea48-d8db-11e7-9ba2-169465e927f3.png)

[2017-12-04 18:40] evanwolf commented on #179
What can I do to change that?

[2018-02-28 03:34] adborden commented on #170
The candidate photos need some re-thinking with Jekyll https://github.com/caciviclab/odca-jekyll/issues/36

[2018-02-28 03:40] adborden commented on #164
Let's _not_ use party_affiliation since these races are all non-partisan.

[2018-02-28 03:41] #152 closed

[2018-02-28 03:46] adborden commented on #148
This is about combining [this page](http://www.opendisclosure.io/#!/city/2/oakland/2016/referendum/1/sugar-sweetened-beveragetax/supporting) and [this page](http://www.opendisclosure.io/#!/city/2/oakland/2016/referendum/1/sugar-sweetened-beveragetax) as per the mocks.

[2018-02-28 04:36] adborden commented on #164
Also, @sfdoran is going to add a field for the amount of public funding a candidate received. This is tax money the City gives to candidates.

[2018-03-01 04:17] adborden commented on #242
Duplicate of #203

[2018-03-01 04:17] #242 closed

[2018-03-06 07:27] adborden commented on #187
Some styling work was done in https://github.com/caciviclab/disclosure-frontend/pull/223

[2018-03-06 16:04] adborden commented on #239
I added a text shadow to the text and tweaked the overlay darkness in the [landing page work](https://github.com/caciviclab/odca-jekyll/pull/42) but haven't measured the contrast yet.

[2018-03-06 16:07] adborden commented on #238
With the new [landing page](https://github.com/caciviclab/odca-jekyll/pull/42) uses our "narrow" layout, 80rem/800px max-width.

[2018-03-22 15:56] adborden commented on #179
Just for reference, [Peggy Moore's photo](https://s3-us-west-1.amazonaws.com/odca-candidate-photos/Margaret-Moore.png) is 300x300px and ~44K, one of the smallest. We should probably aim for this for all photos. We're not showing the photos are larger than 160px right now, so maybe we want to aim even smaller?

[2018-03-22 16:07] adborden commented on #170
Hrmm.. the photos on S3 seem to have their headers set correctly and are indeed being cached by the browser. I'm going to close this for now.

[2018-03-22 16:07] #170 closed

[2018-03-22 16:08] adborden commented on #148
@anlawyer is currently working on this.

[2018-03-28 05:16] adborden commented on #153
This was done as part of https://github.com/caciviclab/odca-jekyll/pull/60

[2018-03-28 05:19] adborden commented on #187
Done in https://github.com/caciviclab/odca-jekyll/pull/49

[2018-03-28 05:19] #187 closed

[2018-03-28 05:25] adborden commented on #153
nm.

[2018-03-28 05:27] adborden commented on #148
Done in https://github.com/caciviclab/odca-jekyll/pull/60

[2018-03-28 05:27] #148 closed

[2018-04-25 03:50] adborden commented on #164
@jbotwins is working on this one.

[2018-05-16 03:00] adborden commented on #203
@sfdoran any update on this?

[2018-05-16 04:15] adborden commented on #171
This is done! The include lives here https://github.com/caciviclab/odca-jekyll/blob/feature/candidate-details/_includes/alert-message.html

[2018-05-16 04:15] #171 closed

[2018-05-17 16:52] sfdoran commented on #203
@adborden I haven't done it yet - but I will get on it! I'll edit and submit a pull request as a WIP to @elinaru for feedback.

[2018-06-07 23:13] sfdoran commented on #203
@sseiter would you help me redraft this? I have some ideas.

[2018-06-20 03:00] adborden commented on #179
should we even bother with the 2016 photos? I suggest we close this.

[2018-07-04 02:48] adborden commented on #194
@mford008 offered to take a stab at this

[2018-07-11 02:46] #194 closed

[2018-07-11 16:38] mford008 commented on #194
The favicon is a screenshot I took off an older version of the website.

On Wed, Jul 11, 2018, 9:36 AM Elina Ru <notifications@github.com> wrote:

[2018-07-30 15:14] adborden commented on #179
Hearing nothing, closing.

[2018-07-30 15:14] #179 closed